<div class="full fill"
	style="background-image: url('app/assets/images/analyst.jpg');">
	<div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 60%; text-align: center; min-height: 200px; background: #ffffffad; color: #fff; padding: 5em 20px;">

		<div class="col-xs-12">
			<img src="/app/assets/icons/Numici-Logo-Long-In-Blue.png"
				alt="numici"
				style="background: #fff; border-radius: 14px; height: 75px;">
		</div>
		<div class="col-xs-12">
			<div
				style="padding: 5px; word-wrap: break-word; color: red; font-size: 14px;">
				Your browser has cookies disabled. Make sure that your cookies are enabled and try again.</div>
		</div>
	</div>

</div>