<div class="row adv-search-filters" data-ng-show="showFiltersOnMobile">
	<form role="form" data-ng-submit="getEntities()">
		<div class="m-s-f-t">
			<div class="row" style="float: right;">
				<button type="button" 
					class="btn cs-btn-icon cs-gb" 
					data-ng-disabled="enableSrchGoBtn()" data-ng-click="clearSearch()">
					<i class="fa fa-undo fa-fw" aria-hidden="true"></i>
				</button>
				<div class="vdvc-drpdwn-wrap" data-on-outside-element-click="srchObj.close()">
					<button type="button" 
						class="btn cs-btn-icon cs-bb" 
						data-ng-click='srchObj.toggleMenu($event)'>
						<i class="fa fa-floppy-o fa-fw" aria-hidden="true"></i>
					</button>
					<div class='row dropdown-menu vdvc-cust-dd-menu dropdown-menu-right' 
						data-ng-show='srchObj.isOpen'>
						<div data-ng-show="userinfo.isSiteAdmin" 
							class ="col-xs-12 checkbox col-top-mrgn-5 ss-dd-ele-smart-srch">
							<input type="checkbox" data-ng-model="srchObj.systemSearch">
							<label class="cs-lbl">Smart Search</label>
						</div>
						<div class ="col-xs-12 srch-Ntf ss-dd-ele-ntf">
							<span data-ng-click="srchObj.OnchangeNotify()">
								<i class="fa fa-toggle-on active"
							       data-ng-if="srchObj.isNotify">
							    </i>
							    <i class="fa fa-toggle-on fa-rotate-180 inactive"
							       data-ng-if="!srchObj.isNotify">
							    </i>
							    <span class="txt-label">Notifications</span>
							</span>
						</div>
						<div class="col-xs-12 ss-dd-ele-cate">
							<label class="cs-lbl"> Category </label>
							<data-ui-select data-multiple
											data-limit=1 
											data-tagging
											data-ng-model="srchObj.group" 
											data-tagging-label="(New Category)" 
											data-ng-disabled="disabled" 
											data-autofocus=true>
										
										data-tagging="srchObj.TransformNewGroup"  
											data-on-remove = "srchObj.onRemoveGroup($item)" 
											data-on-select="srchObj.onSelectGroup($item)" 
										
							    <data-ui-select-match >{{$item}}</data-ui-select-match>
							    <data-ui-select-choices data-repeat="group in allGroups | filter:$select.search track by $index">
							       {{group}}
							    </data-ui-select-choices>
							    
							</data-ui-select>
						</div>
						
						<div class="col-xs-12 ss-dd-ele-scn">
							<label class="cs-lbl" for="searchCriteria">Search Criteria Name</label>
							<input type="text" 
								id="searchCriteria" 
								data-ng-model="srchObj.criteriaName" 
								data-focus-on="srchObj.isOpen" class='vdvc-input-txt'
								data-ng-enter='srchObj.saveCriteria($event)'>
						</div>
						<div class="col-xs-12 ss-dd-btn-grp">
							<button type="button" 
								class='btn vdvc-form-btn vdvc-form-btn-muted' 
								data-ng-click='srchObj.close($event)'>
								CANCEL
							</button>
							<button type="button" 
								class='btn vdvc-form-btn' 
								data-ng-disabled="enableSaveSearch(srchObj.criteriaName)" 
								data-ng-click='srchObj.saveCriteria($event)'>
								DONE
							</button>
						</div>
					</div>
				</div>
				<div class="vdvc-drpdwn-wrap" 
					data-on-outside-element-click="srchSaveAsObj.close()">
					<button type="button" 
						class="btn cs-btn-icon cs-bb" 
						data-ng-click='srchSaveAsObj.toggleMenu($event)' 
						data-ng-disabled ="srchSaveAsObj.isDisabled()">
						<i class="fa fa-floppy-o fa-fw" aria-hidden="true"></i>
						<i class="fa fa-pencil fa-fw" 
							aria-hidden="true" 
							style="position: absolute;top: 15px;margin-left: -15px;font-size: 12px;">
						</i>
					</button>
					<div class='row dropdown-menu vdvc-cust-dd-menu dropdown-menu-right' 
						data-ng-show='srchSaveAsObj.isOpen'>
						<div data-ng-show="userinfo.isSiteAdmin" 
							class ="col-xs-12 checkbox col-top-mrgn-5 ss-dd-ele-smart-srch">
							<input type="checkbox" data-ng-model="srchSaveAsObj.systemSearch" >
							<label class="cs-lbl">Smart Search</label>
						</div>
						<div class ="col-xs-12 srch-Ntf ss-dd-ele-ntf">
							<span data-ng-click="srchSaveAsObj.OnchangeNotify()">
								<i class="fa fa-toggle-on active"
							       data-ng-if="srchSaveAsObj.isNotify">
							    </i>
							    <i class="fa fa-toggle-on fa-rotate-180 inactive"
							       data-ng-if="!srchSaveAsObj.isNotify">
							    </i>
							    <span class="txt-label">Notifications</span>
							</span>
							
						</div>
						<div class="col-xs-12 ss-dd-ele-cate">
							<label class="cs-lbl"> Category </label>
							<data-ui-select data-multiple
											data-limit=1 
											data-tagging
											data-ng-model="srchSaveAsObj.group" 
											data-tagging-label="(New Category)" 
											data-ng-disabled="disabled" 
											data-autofocus=true>
										
										data-tagging="srchObj.TransformNewGroup"  
											data-on-remove = "srchObj.onRemoveGroup($item)" 
											data-on-select="srchObj.onSelectGroup($item)" 
										
							    <data-ui-select-match >{{$item}}</data-ui-select-match>
							    
							    <data-ui-select-choices data-repeat="group in allGroups | filter:$select.search track by $index">
							       {{group}}
							    </data-ui-select-choices>
							    
							</data-ui-select>
						</div>
						<div class="col-xs-12 ss-dd-ele-scn">
							<label class="cs-lbl" for="searchCriteria">Search Criteria Name</label>
							<input type="text" 
								id="searchCriteria" 
								data-ng-model="srchSaveAsObj.criteriaName" 
								data-select-on-focus
								data-focus-on="srchSaveAsObj.isOpen" 
								class='vdvc-input-txt' 
								data-ng-enter='srchSaveAsObj.saveCriteria($event)'>
						</div>
						<div class="col-xs-12 ss-dd-ele-btn-grp">
							<button type="button" 
								class='btn vdvc-form-btn vdvc-form-btn-muted' 
								data-ng-click='srchSaveAsObj.close($event)'>
								CANCEL
							</button>
							<button type="button" 
								class='btn vdvc-form-btn' 
								data-ng-disabled="enableSaveSearch(srchSaveAsObj.criteriaName)" 
								data-ng-click='srchSaveAsObj.saveCriteria($event)'>
								DONE
							</button>
						</div>
					</div>
				</div>
				<button type="submit" 
					class="btn cs-btn-icon cs-bb" 
					data-ng-disabled="enableSrchGoBtn()">
					<i class="fa fa-stack-text" aria-hidden="true" style="
					    font-size: 12px;
					    border: 2px solid #006699;
					    background: #006699;
					    color: #fff;
					    margin-bottom: 6px;">
					    GO
					</i>
				</button>
				<button type="button" class="btn cs-btn-icon cs-gb" 
					data-ng-click="CloseSearch()">
					<i class="fa fa-times fa-fw" aria-hidden="true"></i>
				</button>
			</div>
		</div>
		<div class="row asrh-filters-bar-1" style="margin-top: 45px;">
			<div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<label class="cs-lbl" for="savedSearch">SELECT SAVED SEARCH</label> 
				<data-ui-select class="ss-select" 
								id="savedSearch" 
								data-ng-model="srchObj.selected"  
								data-ng-disabled="disabled" 
								data-search-enabled="false" 
								append-to-body="true" 
								data-on-select="onSavedSearchChange($select.selected,'user')"
								autofocus>
					<data-ui-select-match >
				    	{{$select.selected.name}}
				    	<span data-ng-if="$select.selected.name != 'None' && !$select.selected.valid" 
				    		class="fa fa-exclamation-triangle saved-srch-invalid"
					        data-tooltip-placement="auto" 
					        data-uib-tooltip="{{$select.selected.invalidReason}}" 
					        data-tooltip-append-to-body="true"></span>
				    </data-ui-select-match>
				    <data-ui-select-choices data-group-by="'group'" 
				    	data-group-filter="srchObj.reverseOrderFilterFn"
				    	data-repeat="savedSearch in savedSearchList |  orderBy : 'name' | filter: $select.search">
				      	<div class='vdvc-srch-opt'>
							<span class="ss-ele-wrap">
						    	{{ savedSearch.name || 'empty' }}
							    <span data-ng-if="savedSearch.name != 'None' && !savedSearch.valid" 
							    	class="fa fa-exclamation-triangle saved-srch-invalid"
							        data-tooltip-placement="auto" 
							        data-uib-tooltip="{{savedSearch.invalidReason}}" 
							        data-tooltip-append-to-body="true">
							    </span>
							    <span data-ng-if="savedSearch.name != 'None'" 
							    	class="btn btn-xs fa fa-pencil srch-actions ss-tool-edit" 
							    	data-ng-click="editSavedSearch(savedSearch,$event)"
							     	data-uib-tooltip="Edit" 
							     	data-tooltip-append-to-body="true">
							    </span>
								<span data-ng-if="savedSearch.name != 'None'" 
									class="btn btn-xs fa fa-trash-o srch-actions ss-tool-delete" 
									data-ng-click="deleteSavedSearch(savedSearch,$event)" 
									data-uib-tooltip="Delete" 
									data-tooltip-append-to-body="true">
								</span>
							</span>
					   	</div>
				    </data-ui-select-choices>
				</data-ui-select>
			</div>
			<div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<div class="row" >
					<label class="cs-lbl" for="savedSmartSearch">SELECT SMART SEARCH</label>  
					<data-ui-select class="ss-select" 
									id="savedSmartSearch" 
									data-ng-model="srchObj.systemSearchSlctd"  
									data-ng-disabled="disabled" 
									data-search-enabled="false" 
									append-to-body="true" 
									data-on-select="onSavedSearchChange($select.selected,'system')">
						<data-ui-select-match>
					    	{{$select.selected.name}}
					    	<span data-ng-if="$select.selected.name != 'None' && !$select.selected.valid" 
					    		class="fa fa-exclamation-triangle saved-srch-invalid"
						        data-tooltip-placement="auto" 
						        data-uib-tooltip="{{$select.selected.invalidReason}}" 
						        data-tooltip-append-to-body="true">
						    </span>
					    </data-ui-select-match>
					    <data-ui-select-choices data-group-by="'group'"
    						data-group-filter="srchObj.reverseOrderFilterFn" 
    						data-repeat="savedSearch in systemsavedSearchList |  orderBy : 'name' | filter: $select.search">
					      	<div class='vdvc-srch-opt'>
								<span class="ss-ele-wrap">
							    	{{ savedSearch.name || 'empty' }}
								    <span data-ng-if="savedSearch.name != 'None' && !savedSearch.valid" 
								    	class="fa fa-exclamation-triangle saved-srch-invalid"
							          	data-tooltip-placement="auto" 
							          	data-uib-tooltip="{savedSearch.invalidReason}" 
							          	data-tooltip-append-to-body="true">
							        </span>
							    	<span data-ng-if="savedSearch.name != 'None' && userinfo.isSiteAdmin" 
							    		class="btn btn-xs fa fa-pencil srch-actions ss-tool-edit" 
							    		data-ng-click="editSavedSearch(savedSearch,$event)"
								     	data-uib-tooltip="Edit">
								    </span>
									<span data-ng-if="savedSearch.name != 'None' && userinfo.isSiteAdmin" 
										class="btn btn-xs fa fa-trash-o srch-actions ss-tool-delete" 
										data-ng-click="deleteSavedSearch(savedSearch,$event)" 
										data-uib-tooltip="Delete">
									</span>
								</span>
							</div>
					    </data-ui-select-choices>
					</data-ui-select>
				</div>
			</div>
		</div>
		
		<!-- <div class="row">
			<div class="divider-h"></div>
		</div> -->

		<div class="row adv-srch-filters-wrap">
			<div class="form-group col-xs-12 col-sm-4 col-md-3 col-lg-3">
				<label class="cs-lbl" for="savedSearch">KEYWORDS</label>
				<span class="srch-key-word-help" 
					data-ng-click="showHelp('SearchKeyword')" 
					data-uib-tooltip="Keyword Help" 
					data-tooltip-placement="bottom">
					<i class="fa fa-question-circle" aria-hidden="true"></i>
				</span> 
				<input type="text" 
						class="form-control vdvc-input-txt" 
					   id="KEYWORDS" 
					   data-ng-model="query.searchString" 
					   autofocus 
					   autocomplete="off" 
					   style="text-overflow: ellipsis;"
					   data-ng-show="!isKeywordDisabled"
					   tabindex="0">
				<input type="text" 
			   		class="form-control vdvc-input-txt" 
			   		id="KEYWORDS" 
			   		data-ng-disabled ="isKeywordDisabled"
			   		data-ng-model="srchObj.systemSearchName" 
			   		autofocus 
			   		autocomplete="off" 
			   		style="text-overflow: ellipsis;"
			   		data-ng-show="isKeywordDisabled">
			</div>
			<div class="form-group col-xs-12 col-sm-4 col-md-2 col-lg-2" 
				data-ng-click="tickerFocused()" 
				data-on-outside-element-click="tickerDeFocused()" 
				data-ng-show="showTickersFilter()">
				<label class="cs-lbl" for="TICKERS">TICKERS</label> 
				<data-ui-select customize-ui-select-group-lable 
					class="search-ticker-ui-select" 
					id="TICKERS" 
					multiple 
					data-ng-model="advancedInputs.tickers" 
					data-on-select="tickerDeFocused()" 
					data-search-enabled="false">
					<data-ui-select-match>
			    		<span data-ng-if="$item.group == 'companies' && $item.ticker != null && $item.ticker != ''">
			    			{{$item.ticker}}
			    		</span>
			    		<span data-ng-if="$item.group == 'companies' && ($item.ticker == null || $item.ticker == '')"
			    			data-uib-tooltip="{{$item.companyName}}">
			    			{{$item.companyName | truncate: 7: '...'}}
			    		</span>
			    		<span data-ng-if="$item.group == 'portfolios' && $item.displayTickers != null && $item.displayTickers != ''"
			    			data-uib-tooltip="{{$item.name +' - '+ $item.displayTickers}}">
			    			{{$item.name | truncate: 7: '...'}}
			    		</span>
			    		<span data-ng-if="$item.group == 'portfolios' && ($item.displayTickers == null || $item.displayTickers == '')"
			    			data-uib-tooltip="{{$item.name}}">
			    				{{$item.name | truncate: 7: '...'}}
			    		</span>
			    	</data-ui-select-match>
			    	<data-ui-select-choices data-group-by="'group'" 
			    		repeat="ticker in tickersList | filter:$select.search track by $index"  
				    	data-refresh="refreshTickerInfo($select.search)" 
				    	data-refresh-delay="500">
				      	<div class="tickers_choices_list" 
				      		data-ng-if="ticker.group == 'companies'">
				      		<div class="tcl_ticker" 
				      			data-ng-bind-html="ticker.ticker | highlight: $select.search">
				      		</div>
				      		<div class="tcl_companyName" 
				      			data-ng-bind-html="ticker.companyName | highlight: $select.search">
				      		</div>
				      		<div class="tcl_cik" 
				      			data-ng-bind-html="ticker.cik | highlight: $select.search">
				      		</div>
				      	</div>
				      	<div class="portfolios_choices_list" 
				      		data-ng-if="ticker.group == 'portfolios'">
				      		<div class="pcl_name" 
				      			data-ng-bind-html="ticker.name | highlight: $select.search">
				      		</div>
				      		<div class="pcl_ticker_list" 
				      			data-ng-bind-html="ticker.displayTickers | highlight: $select.search">
				      		</div>
				      	</div>
				    </data-ui-select-choices>
			    </data-ui-select>
			</div>
			<div class="form-group col-xs-12 col-sm-4 col-md-2 col-lg-2">
				<label class="cs-lbl" for="TAGS">TAGS</label> 
				<data-ui-select multiple 
					id="TAGS" 
					data-ng-model="advancedInputs.tags" 
					sortable="true" 
					data-ng-class="{'selected': advancedInputs.tags.length > 2}">
					<span style="height: 50px;">...</span>
			    	<data-ui-select-match data-amar="ni">{{$item}}</data-ui-select-match>
			    
				    <data-ui-select-choices data-repeat="tag in tags | filter:$select.search track by $index"
				    	data-refresh="refreshTagInfo($select.search)" data-refresh-delay="500">
				       <div data-ng-bind-html="tag | highlight: $select.search"></div>
				    </data-ui-select-choices>
			    
				</data-ui-select>
			</div>
			
			<div class="form-group col-xs-12 col-sm-5 col-md-2 col-lg-2" 
				data-on-outside-element-click="DocTypeWrap.close()">
				<label class="cs-lbl" for="DOCUMENT_TYPE">DOCUMENT TYPE</label> 
				<div id="DOCUMENT_TYPE" 
					data-ng-click="DocTypeWrap.toggle()">
					<input type="text" class="ellipsis form-control selected_doc_types" 
						data-ng-model="SlctdDocTypes.getSelectedDocTypes"
						data-ng-model-options="{ getterSetter: true }"
						readonly
						style="background: #fff;color: transparent;text-shadow: 0 0 0 #000;border-radius: 0;">
					<div data-uib-tooltip="{{SlctdDocTypes.getSelectedDocTypes()}}" 
						data-tooltip-placement="left"
						data-tooltip-append-to-body="true"
						class="full" 
						style="background: transparent;position: absolute;width: 100%;top:0;left: 0;z-index: 10;">
					</div>
				</div>
				<div class='m-c-dd' 
					data-ng-show="DocTypeWrap.isOpen">
					<div class="row" 
						data-add-close-btn-to-m-c-dd="DocTypeWrap">
					</div>
					<div class="row col-xs-offset-1">
						<div class="col-xs-12" >
							<div class ="col-xs-12 checkbox col-top-mrgn-5">
								<input type="checkbox" 
									data-ng-model="docTypes.selectAllDocs" 
									data-ng-change="onDocTypeChange('All')">
								<label>ALL</label>
								<span class="vdvc-error" 
									data-ng-hide="DocTypeWrap.validateDocTypeSelection()">
									(Please Select at least one Document Type)
								</span>
							</div>
							<div class="col-xs-12" 
								data-ng-repeat="(key,value) in docTypes['Documents'] | groupBy: 'group'">
								<div class ="row" 
									data-ng-repeat="docType in value |  orderBy:'order'" 
									data-ng-show="docType.show">
									<div class ="checkbox col-top-mrgn-5" 
										data-ng-class="{ 'col-xs-offset-1': docType.isSubType}">
										<input type="checkbox" 
											data-ng-model="docType.checked" 
											data-ng-change="onDocTypeChange(docType)" 
											data-ng-disabled="docType.disable">
										<label>{{::docType.lable}}</label>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="divider-h-full col-top-bottom-mrgn-10 "></div>
					<div class="row">
						<div class="col-xs-12">
							<div class ="checkbox col-top-mrgn-5 doc_dype_dd_row2_ele" 
								data-ng-repeat="docType in docTypes['ownerShip'] | orderBy:'order'" 
								data-ng-show="docType.show">
								<input type="checkbox" 
									data-ng-model="docType.checked" 
									data-ng-change="onDocTypeChange(docType)" 
									data-ng-disabled="docType.disable">
								<label>{{::docType.lable}}</label>	
							</div>
						</div>
					</div>
					<div class="divider-h-full col-top-bottom-mrgn-10 "></div>
					<div class="col-xs-12">
						<div class ="col-xs-12 checkbox col-top-mrgn-5" 
							data-ng-repeat="docType in docTypes['optional']" 
							data-ng-show="docType.show">
							<input type="checkbox" 
								data-ng-model="docType.checked" 
								data-ng-disabled="docType.disable">
							<label>Show Annotated Documents Only</label>	
						</div>
					</div>
				</div>
			</div>		
			
			<div class="form-group col-xs-12 col-sm-5 col-md-2 col-lg-2">
				<label class="cs-lbl" for="TIMEFRAME">TIMEFRAME</label>
				<data-ui-select id="TIMEFRAME" 
					data-ng-model="timeFrameDate.selected" 
					data-ng-disabled="disabled" 
					data-search-enabled="false" 
					append-to-body="true" 
					data-on-select="onSelectTimeFrame($select.selected)" 
					data-ng-click="closeDateRange()">
					<data-ui-select-match >{{$select.selected.timeAgo}}</data-ui-select-match>
				    
				    <data-ui-select-choices data-repeat="timeframe in timeframes | filter: $select.search">
				      {{::timeframe.label}}
				    </data-ui-select-choices>
				</data-ui-select>
				<div class="input-wrap m-c-dd" 
					data-ng-show="custTimeFrame">
					<div class="row close-m-c-dd" 
						data-add-close-btn-to-m-c-dd="closeDateRange">
					</div>
					<div class="row">
				      <div class="col-md-12">
				      	<label class="cs-lbl" for="dt_from">FROM</label>
				        <p class="input-group">
				          <input type="text" 
				          	class="form-control" 
				          	data-is-open="fromCal.opened" 
				          	id="dt_from" 
				     		data-ng-keypress="return (event.keyCode!=13);" 
				     		data-ng-model="dtObj.start" 
				     		data-uib-datepicker-popup="yyyy-MM-dd" 
				     		data-max-date="dtObj.end" 
				     		value="{{dtObj.start | amDateFormat: displayFormat}}"
				          	data-close-text="Close" />
				          <span class="input-group-btn" style="display: inherit;">
				            <button type="button" class="btn btn-default" data-ng-click="openFromCalendar()"><i class="glyphicon glyphicon-calendar"></i></button>
				          </span>
				        </p>
				        <span class="cust_time_frame_from_errmsg"> 
				     		{{custStartDateErrMsg}}
				     	</span>
				      </div>
				
				      <div class="col-md-12">
				      	<label class="cs-lbl" for="dt_to">TO</label>
				        <p class="input-group">
				          <input type="text" 
				          	class="form-control" 
				          	data-is-open="toCal.opened" 
				          	id="dt_to"
				    		data-ng-keypress="return (event.keyCode!=13);" 
				    		data-ng-model="dtObj.end" 
				    		data-uib-datepicker-popup="yyyy-MM-dd" 
				    		data-max-date="dtObj.maxDate" 
				    		data-min-date="dtObj.start" 
				    		value="{{dtObj.end | amDateFormat: displayFormat}}" 
				    		data-ng-required="true" 
				    		data-close-text="Close" />
				          <span class="input-group-btn" style="display: inherit;">
				            <button type="button" class="btn btn-default" data-ng-click="openToCalendar()"><i class="glyphicon glyphicon-calendar"></i></button>
				          </span>
				        </p>
				        <span class="cust_time_frame_to_errmsg">
				        	{{custEndDateErrMsg}}
				        </span>
				      </div>
				    </div>
					<div class="row cust_time_frame_dp_wrap">
			     		<div class="pull-right cust_time_frame_dp_tool_wrap">
				     		<span class="btn btn-sm vdvc-form-btn vdvc-form-btn-muted" 
				     			data-ng-click="closeDateRange()" >
				     			CANCEL
				     		</span>
						    <span class="btn btn-sm vdvc-form-btn" 
						    	data-ng-click="clearDateRange()">
						    	CLEAR
						    </span>
						   	<span class="btn btn-sm vdvc-form-btn" 
						   		data-ng-click="applyDateRange()">
						   		APPLY
						   	</span>
				     	</div>
			     	</div>
			    </div>
			</div>
		</div>
	</form>
</div>