<div data-on-outside-element-click="linkUIProperties.close()">
	<div style="padding: 5px 0px;">{{linkInfo.link.linkType}}</div>
	<div style="padding: 5px 0px;">{{linkInfo.link.text}}</div>
	<div class="row" style="padding: 5px 0px;">
		<div class="input-group" style="width:100%;">
			<input type="text" 
				   data-ng-model="linkInfo.url"
				   data-select-on-focus
				   data-select-on-click
				   data-focus-on="linkInfo.focusLink"
				   class="vdvc-input-txt" readonly>
			<span data-ng-show="linkUIProperties.cpToClipBoard"
				class="input-group-btn" style="font-size: 14px;">
				<button data-uib-tooltip="Copy to Clipboard"
					class="btn vdvc-form-btn fa fa-clipboard" type="button"
					data-clipboard data-text="linkInfo.url"
					data-on-copied="linkUIProperties.copySuccess()"
					data-on-error="linkUIProperties.copyfail(err)"
					style="height: 35px;padding: 10px;"></button>
			</span> 
		</div>
		<span data-copy-link-help-style
			  data-ng-show="!linkUIProperties.cpToClipBoard"
			  data-ng-if="!deviceInfo.isTouch"></span>
	</div>
	<div class="row"
		style="padding: 5px 0px; font-size: 12px; color: #777;">
		<b>Note : </b>If you plan to share the deep link with other users,
		make sure the file is accessible to those users
	</div>
</div>
