<div class="col-xs-12 full taskContainer" style="padding: 10px 0px;min-width: 100%;">	  
	 <div class="full" >
	      	<div class="row twopane-animate-hide" 
	      		data-auto-height="vm.toggleTwoPaneObjectList" 
	      		data-adjust="vm.toggleTwoPaneObjectList ? -40 : 0"
	      		style="min-height: 250px;">
	      		<div class="col-xs-6 full" 
	      			 data-ng-controller="TsObjectController as tsobj"
	      			 data-ng-init="tsobj.focusedObj='One';tsobj.ts = vm.taskSpace" 
	      			 style="padding: 0px 5px;">
		        	<div class="full row vdvc-ts-layout-1"
		        		 data-drop="true"
		        		 data-ng-model="tsobj.droppedObj"
		        		 data-jqyoui-options="tsobj.objDropUIOptions"
		        		 data-jqyoui-droppable="{onDrop : 'tsobj.onObjDrop'}"
		        		 style="background: #fff">
		        		 
		        		<div class="col-xs-12 vdvc-ldr-spin-wrap" data-ng-show="tsobj.loader" data-ng-class="{'full':tsobj.loader}">
		        			<div class="vdvc-loader-spin vdvc-v-align">
		        			</div>
		        		</div>
		        		
		        		<div class="col-xs-12 ts-drp-area">
		        			<div class="drp vdvc-v-align">
		        				 Drop Here
		        			</div>
		        		</div>
		        		
		        		<!-- <div class="full row task-obj-wrap" 
		        			 data-ng-include
		        			 data-ng-class="{'isolate': tsobj.isolateDoc}"
		        			 data-src="'app/components/TaskSpace/docViewer.html'"></div> -->
		        			 
		        			 <div class="full row task-obj-wrap One" data-ng-mouseenter="tsobj.showVdvcNavbar()" data-ng-mouseleave="tsobj.hideVdvcNavbar()"></div>
		        			 
		        			 
		        	</div>
		        </div>
		        <div class="col-xs-6 full" 
		        	 data-ng-controller="TsObjectController as tsobj"
		        	 data-ng-init="tsobj.focusedObj='Two';tsobj.ts = vm.taskSpace" 
		        	 style="padding: 0px 5px;">
		        	<div class="full row vdvc-ts-layout-2"
		        		 data-drop="true"
		        		 data-ng-model="tsobj.droppedObj"
		        		 data-jqyoui-options="tsobj.objDropUIOptions"
		        		 data-jqyoui-droppable="{onDrop : 'tsobj.onObjDrop'}"
		        		 style="background: #fff">
		        		 
		        		<div class="col-xs-12 ts-drp-area">
		        			<div class="drp vdvc-v-align">
		        				 Drop Here
		        			</div>
		        		</div>
		        		
		        		<div class="col-xs-12 vdvc-ldr-spin-wrap" data-ng-show="tsobj.loader" data-ng-class="{'full': tsobj.loader}">
		        			<div class="vdvc-loader-spin vdvc-v-align">
		        			</div>
		        		</div>
		        		
		        		<!-- <div class="full row task-obj-wrap" 
		        			 data-ng-include
		        			 data-ng-class="{'isolate': tsobj.isolateDoc}"
		        			 data-src="'app/components/TaskSpace/docViewer.html'"></div> -->
		        			 
		        			 <div class="full row task-obj-wrap Two" data-ng-mouseenter="tsobj.showVdvcNavbar()" data-ng-mouseleave="tsobj.hideVdvcNavbar()"></div>
		        			 
		        	</div>
		        </div>
	      	</div>
	      	<div class="row hz-ts-wrp" data-ng-class="{'hz-ts-on-colap': vm.toggleTwoPaneObjectList}">
		        <div class="ts-h-obj-bwrp">
		        	 <div class="vdvc-twopane-ts-toggle-btn" 
						data-ng-click="vm.toggleTwoPaneTsObjects()">
						<i class="fa " data-ng-class="{'fa-angle-double-down': !vm.toggleTwoPaneObjectList, 'fa-angle-double-up': vm.toggleTwoPaneObjectList}" aria-hidden="true"></i>
					</div>
		        </div>
		       
				<div class="ts-h-obj-txt-wrp" style="color: #069;">
					<span class="ts-h-obj-txt">
						TASKSPACE &nbsp; DOCUMENTS
					</span>
				</div>
			</div>
			
	        <div class="row hz-ts-obj-wrap" data-ng-hide="vm.toggleTwoPaneObjectList" data-hr-ts-obj-scroll>
	        	<div class="row hz-ts-obj" 
		        	 data-ui-sortable="vm.sortableOptions" 
		        	 data-ng-model="vm.taskSpace.objects">
		        	 
		        	 
		        	  <div class="col-xs-12 col-sm-4 col-md-3 col-lg-15 ts-card-wrap" >
	        			<div class="row ts-card"
	        				 data-drag="true" 
	        				 data-jqyoui-options="vm.objDragUIOptions "
	        				 data-jqyoui-draggable="{ placeholder: 'keep',
	        				 						 insertInline:false}" 
	        				 data-ng-model="vm.digestObject">
	        				<div class="full" data-ng-click="vm.onObjectClick(vm.digestObject)">
		        				<div class="col-xs-12 ts-name  vdvc-v-align">
		        					<div class="fa fa-eye"
		        						 data-ng-style="{color: vm.taskSpace.permissions.edit ? '#006699' : '#999' }"
		        						 style="font-size: 30px;"></div>
		        					<div>{{vm.digestObject.name}}</div>
		        				</div>
	        				</div>
	        			</div>
	        		</div>
		        	 
	        		<div data-ng-if="!TsObj.invalidObject" 
	        			class="col-xs-12 col-sm-4 col-md-3 col-lg-15 ts-card-wrap" 
	        		    data-ng-repeat="TsObj in vm.taskSpace.objects track by $index" 
	        		    data-uib-popover-template="vm.docLinkUIProperties.templateUrl"
						data-popover-is-open="TsObj.showDocLink"
						data-popover-placement="auto"
						data-popover-trigger="vm.docLinkUIProperties.trigger"
						data-popover-class="annotation-deep-link-info"
						data-popover-append-to-body="true">
	        			 <span class="ts-card-actn" data-ng-click="$event.stopPropagation()">
	        			 	 <span class="ts-twopane-card-icon">
	      						<span class="ts-doc-icon">
									<i data-ng-class="vm.getDocIcon(TsObj.objectInfo)" class="fa"></i>
								</span>
								<span class="ts-shrd-doc-icon" data-ng-show="TsObj.objectInfo.isShared">
									<i class="fa fa-user"></i>
								</span>
	       					 </span>
	        				 <span class="fa fa-share-alt fa-fw share-doc-link" 
	        				 	data-ng-show="vm.showDocumentLinkAction()" 
	        				 	data-ng-click="vm.shareDocumentLink(TsObj)" 
								data-tooltip-append-to-body='true'
								data-uib-tooltip="Share Annotations on Document">
							 </span>
	        				 <span class="fa fa-sort fa-rotate-90 task-actions sort-obj"
	        					  data-uib-tooltip="{{vm.getToolTip('TsObjextSort')}}" 
	        					  data-tooltip-placement="top" 
	        					  data-tooltip-append-to-body='true'>
	        				 </span>
	        				 <span data-ng-show="vm.showMoveTsObjAction(TsObj)" 
	        					  class="fa fa-share task-actions move-obj" 
	        					  data-ng-click="vm.moveTsObj($event,TsObj)" 
	        					  data-uib-tooltip="{{vm.getToolTip('TsObjextMove')}}" 
	        					  data-tooltip-placement="top" 
	        					  data-tooltip-append-to-body='true'></span>
	        				 <span data-ng-show="vm.taskSpace.permissions.edit" 
	        					  class="fa fa-times task-actions remove-ts-obj"  
	        					  data-ng-class="vm.getRemoveObjBtnClass($index)" 
	        					  data-ng-click="vm.removeTsObj($event,TsObj)" 
	        					  data-uib-tooltip="{{vm.getToolTip('TsRemoveObjext')}}" 
	        					  data-tooltip-placement="top" 
	        					  data-tooltip-append-to-body='true'>
	        				</span>
	        			</span>
      			 
	        			<div class="row ts-card" 
	        				 data-scroll-if="TsObj.objectId == vm.taskSpaceState.focusObject1"
	        				 data-drag="true" 
	        				 data-jqyoui-options="vm.objDragUIOptions"
	        				 data-jqyoui-draggable="{index: {{$index}}, 
	        				 						 placeholder: 'keep',
	        				 						 containment:'position',
	        				 						 insertInline:false}" 
	        				 data-ng-class="{'current_ts_doc': TsObj.objectId == vm.taskSpaceState.focusObject1}"
	        				 data-ng-model="vm.taskSpace.objects" >
	        				
	        				<!-- <div class="col-xs-12 ts-name ">{{TsObj.name}}</div> -->
	        				
	        				<div class="row full ellipsis" data-ng-click="vm.onObjectClick(TsObj)">
	        						
			        				<div class="row vdvc-v-align ts-crd-content">
										<div class="row">
											<div class="col-xs-12 ts-crd-title" data-uib-tooltip="{{TsObj.objectInfo.name}}" data-tooltip-append-to-body="true">
												{{TsObj.objectInfo.name}}
											</div>
											<div class="row vdvc-text-sub" style="height: 25px;line-height: 25px;padding-right: 0px;padding-left: 15px">
												<div style="float: left;width: calc(100% - 30px)">
													{{vm.getAnnotCount(TsObj.objectInfo)}}
												</div>
												<span data-ng-class="vm.getExtDocIcon(TsObj.objectInfo)"></span>
											</div>
											<div class="col-xs-12" style="color:#006699;" data-uib-tooltip="{{TsObj.objectInfo.createdBy}}" data-tooltip-append-to-body="true">
												{{TsObj.objectInfo.createdBy}}
											</div>
										</div>
										<div class="row vdvc-text-sub">
											<div data-set-doc-type data-type="{{TsObj.objectInfo.docType}}" class="col-xs-12"></div>
											<div class="col-xs-12" data-uib-tooltip="{{TsObj.objectInfo.datePublished | date:'medium'}}" data-tooltip-append-to-body="true">
												Date Published: {{TsObj.objectInfo.datePublished | date:'medium'}}
											</div>
										</div>
			        				</div>	
									
								</div>
	        				
	        			</div>
	        		</div>
	        		<div data-ng-if="TsObj.invalidObject" 
	        			class="col-xs-12 col-sm-4 col-md-3 col-lg-15 ts-card-wrap" 
	        		    data-ng-repeat="TsObj in vm.taskSpace.objects track by $index">
	        		    <span class="ts-card-actn" data-ng-click="$event.stopPropagation()">
	        		    	<span data-ng-show="vm.taskSpace.permissions.edit" 
	        					  class="fa fa-times task-actions"  
	        					  data-ng-class="vm.getRemoveObjBtnClass($index)" 
	        					  data-ng-click="vm.removeTsObj($event,TsObj)" 
	        					  data-uib-tooltip="{{vm.getToolTip('TsRemoveObjext')}}" 
	        					  data-tooltip-placement="top" 
	        					  data-tooltip-append-to-body='true'>
	        				</span>
	        		    </span> 
	        		    <div class="row ts-card">
		        			<div class="row full ts-crd-content">
		        				<div class="row">
									<div class="col-xs-12" 
										style="height: 125px;line-height: 125px;font-style: italic;text-align: center;">
										({{TsObj.type}} not found)
									</div>
								</div>
		        			</div>
		        		</div>
	        		</div>
	        		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-15 ts-card-wrap" data-ng-repeat="TsObj in vm.dummyTSObjList | orderBy : 'name' track by $index">
	        			<div class="row ts-card add-ts-obj" data-ng-click=" vm.taskSpace.permissions.edit && vm.addObjectToTS()">
	        					
	        				<div class="col-xs-12 ts-name  vdvc-v-align">
	        					<div class="fa fa-plus-circle" 
	        						 data-ng-style="{color: vm.taskSpace.permissions.edit ? '#006699' : '#999' }"
	        						 style="font-size: 30px;"></div>
	        					<div>{{TsObj.name}}</div>
	        				</div>
	        			</div>
	        		</div>
	        		
	        	</div>
	        </div>
	  </div>
	  <span data-ng-if="vm.taskSpace.objects.length >= 3 && vm.taskSpace.permissions.edit" 
	  	data-ng-click="vm.addObjectToTS()" 
	  	class="add-ts-btn add-ts-obj">
		  	<i class="fa fa-tasks fa-fw" style="font-size: 14px;margin-left: -5px;vertical-align: middle;"></i>
		    <i class="fa fa-plus fa-fw" style="position: absolute;top: 10px;right: 7px;font-size: 12px;">
			</i>
	  </span> 
	  <div data-ng-if="vm.taskSpace.objects.length >= 1" 
	  	class="search-ts-objects">
	  	<span class="fa fa-search fa-rotate-360 search-ts-objects-toggle-btn" 
	  		data-ng-click="vm.toggleTSObjectsSearch()" style="position: relative;float: left;">
	  	</span>
	  </div>	
</div>

