<div class="modal-header">
	<h3 class="modal-title">Embed</h3>
</div>
<div class="modal-body" style="overflow-y: auto; max-height: 200px;">
	<div class="row">
		<div class="col-xs-12">
			<div class="form-group row input-wrap"
				style="margin: 3px 0px; padding: 0px;">
				<div class="col-xs-12" id="embedText" style="position: relative;">
					<div class="col-xs-12"
						style="border: 2px solid rgb(221, 221, 221); padding: 0px; overflow-y: auto;">
						<textarea data-msd-elastic class="vdvc-txtA" rows="2"
							data-ng-disabled=true data-ng-model="ec.embedText"
							data-ng-style="{'max-height' : '91px','overflow-y' : 'auto'}"
							style="border: 0px; overflow: hidden; overflow-wrap: break-word; resize: none; min-height: 90px;">
						 </textarea>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer"
	style="padding: 10px 15px; border-top: 3px solid rgb(204, 204, 204);">
	<div class="row" data-ng-show="!ptsmc.article">
		<button type="button" class="btn vdvc-form-btn vdvc-form-btn-muted"
			data-ng-click="ec.cancel()">CANCEL</button>
		<button data-uib-tooltip="Copy to Clipboard"
			class="btn vdvc-form-btn fa fa-clipboard" type="button"
			data-clipboard data-supported="supported" data-text="ec.embedText"
			data-on-copied="ec.copySuccess()" data-on-error="ec.copyFail(err)"
			style="height: 35px;"></button>
	</div>
</div>