<form>
	<div class="modal-body">
		<div class="row">
			<div class="col-xs-12">
				<p>Are you sure you want to deleted the annotations? (annotations would be deleted permanently)</p>
				<p>Later You will not be able to retrieve deleted Annotations.</p>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn vdvc-form-btn vdvc-form-btn-muted" type="button" data-ng-click="cancel()">CANCEL</button>
		<button class="btn vdvc-form-btn" type="button" data-ng-click="ok()">OK</button>
	</div>
</form>