<div class="col-xs-12 full taskContainer" style="padding: 10px;">	  
	 <div class="full" >
	      	<!-- <div class="row full" data-ng-class="{'ts-tgl-in': vm.toggleSideBarChecked}"> -->
	      	<div class="row full" data-ng-class="{'ts-tgl-colap': vm.toggleSideBarChecked}">
	      		<div class="obj-viewer twopane-animate-hide" 
	      			data-ng-controller="TsObjectController as tsobj"
	      			data-ng-init="tsobj.focusedObj='One'">
		        	<div class="col-xs-12 full vdvc-ts-layout-1"
		        		 data-drop="true"
		        		 data-ng-model="tsobj.droppedObj"
		        		 data-jqyoui-options="tsobj.objDropUIOptions"
		        		 data-jqyoui-droppable="{onDrop : 'tsobj.onObjDrop'}"
		        		 style="background: #fff; padding:0px;">
		        		 
		        		<div class="col-xs-12 vdvc-ldr-spin-wrap" data-ng-show="tsobj.loader" data-ng-class="{'full':tsobj.loader}">
		        			<div class="vdvc-loader-spin vdvc-v-align">
		        			</div>
		        		</div>
		        		<div class="col-xs-12 ts-drp-area">
		        			<div class="drp vdvc-v-align">
		        				 Drop Here
		        			</div>
		        		</div>
		        		<div class="full row task-obj-wrap One"></div>
		        	</div>
		        </div>
		        <div class="ts-obj-wrap"
		        	 data-ng-class="{'ts-obj-on-colap': vm.toggleSideBarChecked}" 
		        	 data-ts-obj-scroll>
		        	
		        	<!-- <div class="ts-colap-bar"
		        		 data-ng-click="vm.toggleOnePaneTsObjects()">
		        		<div class="ts-colap-bar-btn">
		        			<i class="fa fa-fw" data-ng-class="{'fa-angle-double-right': !vm.toggleSideBarChecked, 'fa-angle-double-up': vm.toggleSideBarChecked}"></i>
		        			<i data-ng-show="vm.toggleSideBarChecked">TASKSPACE DOCUMENTS</i>
		        		</div>
		        	</div> -->
		        	
		        	
		        	<div class="ts-tgl-bar">
		        		<div class="ts-tgl-bwrap">
		        			<div class="ts-colap-bar-btn"  data-ng-click="vm.toggleOnePaneTsObjects()">
			        			<i class="fa fa-fw" data-ng-class="{'fa-angle-double-right': !vm.toggleSideBarChecked, 'fa-angle-double-left': vm.toggleSideBarChecked}"></i>
			        		</div>
		        		</div>
		        		<div class="ts-tgl-txtWrp">
		        			<span class="ts-tgl-txt">
		        				TASKSPACE DOCUMENTS
		        			</span>
		        		</div>
		        	</div>
		        	
		        	
		        	<div class="row ts-obj" 
			        	 data-ui-sortable="vm.sortableOptions" 
			        	 data-ng-model="vm.taskSpace.objects"
			        	 data-ng-hide="vm.toggleSideBarChecked">
			        	 
		        		<div class="ts-card-wrap" 
		        		     data-ng-repeat="TsObj in vm.taskSpace.objects track by $index">
		        			 
		        			 <span class="ts-card-actn">
			        			 <span class="ts-twopane-card-icon">
		      						<span class="ts-doc-icon">
										<i data-ng-class="vm.getFileIcon(TsObj.objectInfo.name)" class="fa"></i>
									</span>
									<span class="ts-shrd-doc-icon" data-ng-show="TsObj.objectInfo.isShared">
										<i class="fa fa-user"></i>
									</span>
		       					 </span>
		        				 <span class="fa fa-exchange task-actions sort-obj"
		        					  data-uib-tooltip="{{vm.getToolTip('TsObjextSort')}}" 
		        					  data-tooltip-placement="top" 
		        					  data-tooltip-append-to-body='true'></span>
		        				 <span data-ng-show="vm.taskSpace.permissions.edit" 
		        					  class="fa fa-times task-actions remove-ts-object"  
		        					  data-ng-click="vm.removeTsObj($event,TsObj)" 
		        					  data-uib-tooltip="{{vm.getToolTip('TsRemoveObjext')}}" 
		        					  data-tooltip-placement="top" 
		        					  data-tooltip-append-to-body='true'></span>
		        			</span>
	      			 
		        			<div class="row ts-card" 
		        				 data-scroll-if="TsObj.objectId == vm.taskSpaceState.focusObject1"
		        				 data-drag="true" 
		        				 data-jqyoui-options="vm.objDragUIOptions"
		        				 data-jqyoui-draggable="{index: {{$index}}, 
		        				 						 placeholder: 'keep',
		        				 						 containment:'position',
		        				 						 insertInline:false}" 
		        				 data-ng-class="{'current_ts_doc': TsObj.objectId == vm.taskSpaceState.focusObject1}"
		        				 data-ng-model="vm.taskSpace.objects" >
		        				
		        				<!-- <div class="col-xs-12 ts-name ">{{TsObj.name}}</div> -->
		        				
		        				<div class="row full ellipsis">
		        						
				        				<div class="row vdvc-v-align ts-crd-content">
				        					<div class="row">
												<div class="col-xs-8" data-uib-tooltip="{{TsObj.objectInfo.companyName}}" data-tooltip-append-to-body="true">
													{{TsObj.objectInfo.companyName}}
												</div>
											</div>
											<div class="row">
												<div class="col-xs-12 ts-crd-title" data-uib-tooltip="{{TsObj.objectInfo.name}}" data-tooltip-append-to-body="true">
													{{TsObj.objectInfo.name}}
												</div>
												<div class="col-xs-12" style="color:#006699;" data-uib-tooltip="{{TsObj.objectInfo.createdBy}}" data-tooltip-append-to-body="true">
													{{TsObj.objectInfo.createdBy}}
												</div>
											</div>
											<div class="row vdvc-text-sub">
												<div data-set-doc-type data-type="{{TsObj.objectInfo.docType}}" class="col-xs-12"></div>
												<div class="col-xs-12" data-uib-tooltip="{{TsObj.objectInfo.datePublished | date:'medium'}}" data-tooltip-append-to-body="true">
													Date Published: {{TsObj.objectInfo.datePublished | date:'medium'}}
												</div>
											</div>
				        				</div>	
										
									</div>
		        				
		        			</div>
		        		</div>
		        		
		        		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-15 ts-card-wrap" data-ng-repeat="TsObj in vm.dummyTSObjList | orderBy : 'name' track by $index">
		        			<div class="row ts-card add-ts-obj" data-ng-click=" vm.taskSpace.permissions.edit && vm.addObjectToTS()">
		        					
		        				<div class="col-xs-12 ts-name  vdvc-v-align">
		        					<div class="fa fa-plus-circle" 
		        						 data-ng-style="{color: vm.taskSpace.permissions.edit ? '#006699' : '#999' }"
		        						 style="font-size: 30px;"></div>
		        					<div>{{TsObj.name}}</div>
		        				</div>
		        			</div>
		        		</div>
		        		
		        	</div>
		        </div>
	      	</div>
	      	
	  </div>
	  
	  <span data-ng-if="vm.taskSpace.objects.length >= 3 && vm.taskSpace.permissions.edit"
	 	 data-ng-click="vm.addObjectToTS()"
       	 class="add-ts-btn add-ts-obj fa fa-plus-circle">
	  </span> 
</div>