<div class="modal-header">
	<h3 class="modal-title">
		Search Taskspace Documents
		<i class="fa fa-close" 
			data-ng-click="sto.cancel()" 
			role="button" 
			style="float:right;color: #006699;">
		</i>
	</h3>
</div>
<div class="modal-body" style="max-height: 450px;overflow: auto;background: #eee;">
	<search-ts-objects></search-ts-objects>
</div>
<!-- <div class="modal-footer">
	<button class="btn vdvc-form-btn vdvc-form-btn-muted" type="button" data-ng-click="vm.cancel()">CANCEL</button>
	<button class="btn vdvc-form-btn" type="submit" data-ng-disabled='vm.enableAdd()'>{{vm.submitLabel}}</button>
</div> -->