<div class="col-xs-12 email-doc-viewer-first-navbar">
	<div class="col-xs-8" 
		style="width: calc(100% - 150px);
			height: 50px;
			line-height: 50px;
			padding-left: 0px;">
		<div class="doc-path" id="vdvc-email-doc-path" style="font-size: 18px; color: rgba(51, 51, 51, 0.74);">
			
		</div>
	</div>
	<div class="col-xs-4" 
		style="width: 150px;
		    padding: 0px;
		    height: 50px;
		    line-height: 50px;
		    padding-right: 0px;">
	    <div style="width: 50px;float: right;">
			<span class="vdvc-menu-tool fa fa-times" 
				  data-ng-if="EmailDocViewer.isInDocView" 
				  data-ng-click="EmailDocViewer.closeDocument()" 
				  data-uib-tooltip="Close" 
				  data-tooltip-placement="bottom" 
				   style="padding: 12px 15px;">
			</span>
		</div>
		<div style="width: 50px;float: right;">
			<span class="vdvc-menu-tool fa fa-users" 
				data-ng-show="EmailDocViewer.showShareBtn(EmailDocViewer.document)" 
				data-ng-click="EmailDocViewer.openShareDocModal()" 
				data-uib-tooltip="Invite" 
				data-tooltip-placement="bottom" style="padding: 12px 15px;">
			</span>
		</div>
	 </div>
</div>