<form data-ng-submit="rpm.ok()">
	<div class="modal-header">
		<h4 class="modal-title">Reset Password - {{rpm.userInfo.loginId}}</h4>
	</div>
	<div class="modal-body">
		<div class="col-xs-12 form-group">
			<label class="col-xs-12 col-sm-4" for="new-password" style="height:30px;line-height: 35px;">New Password</label>
			<div class="col-xs-12 col-sm-8 input-group">
				<input class="vdvc-input-txt" 
					   id="new-password" 
					   type="password" 
					   data-ng-model="rpm.newPassword"
					   style="height: 34px;">
			</div>
		</div>
		<div data-ng-show="rpm.ShowNewPWDErrorMessage" style="text-align: center;color: red;">{{rpm.newPWDErrorMessage}}</div>
		<div class="col-xs-12 form-group">
			<label class="col-xs-12 col-sm-4" for="confirm-password" style="height:30px;line-height: 35px;">Confirm Password</label>
			<div class="col-xs-12 col-sm-8 input-group">
				<input class="vdvc-input-txt" 
					   id="confirm-password" 
					   type="password" 
					   data-ng-model="rpm.confirmPassword"
					   data-show-password="rpm.showConfirmPwd"
					   style="height: 34px;">
			    <span class="input-group-btn" style="font-size: 14px;">
			        <button type="button"
			        		class="btn vdvc-form-btn fa" 
			        		data-ng-class="{'fa-eye':!rpm.showConfirmPwd,'fa-eye-slash':rpm.showConfirmPwd}"
			        		data-uib-tooltip="{{rpm.confirmPwdToolTip}}" 
			        		data-ng-click="rpm.showConfirmPassword()"
			        		style="padding: 9px 12px;">
			        </button>
			    </span>
			</div>
		</div>
		<div data-ng-show="rpm.ShowConfirmPWDErrorMessage" style="text-align: center;color: red;">{{rpm.confirmPWDErrorMessage}}</div>
	</div>
	<div class="modal-footer">
		<button class="btn vdvc-form-btn vdvc-form-btn-muted" type="button" data-ng-click="rpm.cancel()">CANCEL</button>
		<button class="btn vdvc-form-btn" type="submit" data-ng-disabled='rpm.enableReset()'>RESET</button>
	</div>
</form>