<form>
	<div class="modal-header">
		<div class="row">
			<h3 class="modal-title">Annotation Context</h3>
		</div>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-xs-12">
				<span>Do you want to associate annotations to Taskspace ?</span>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn vdvc-form-btn vdvc-form-btn-muted" type="button" data-ng-click="cancel()">NO</button>
		<button class="btn vdvc-form-btn" type="button" data-ng-click="ok()">YES</button>
	</div>

</form>