<div class="container-fluid full mobile-doc-list">
	<div style="height: 110px"></div>
	<div class="row">
		<div class="navbar-fixed-top second-navbar second-navbar-top" 
			 style="transition:top 0.2s ease-in-out;">
			<div class=" col-xs-6" style="padding-left: 10px;">
			 	<div data-ng-include="'app/components/Documents/Mobile/DocHierarchyTemplate.mob.html'"></div>
			</div>	
			<div class="col-xs-6" style="padding-right: 10px;text-align: right;">
				<button type="button" 
	      		   data-ng-show="docsButton('researchView_SwitchCardListView').show" 
	      		   class="btn vdvc-nav-btn vdvc-doc-main-btn" 
	      		   data-ng-class="{'vdvc-menu-disabled':!docsButton('researchView_SwitchCardListView').isEnabled}" 
	      		   data-ng-click="docsButton('researchView_SwitchCardListView').isEnabled && switchView()"
	      		   data-tooltip-append-to-body="true"
	      		   data-tooltip-placement="bottom"
	      		   data-uib-tooltip="Switch to {{view == 'List' ? 'Grid view' : 'List view'}}">
	       			<span class="fa fa-th-large fa-fw" data-ng-class="view == 'List' ? 'fa-th-large' : 'fa-list-ul'"></span>
	      		</button>
		      	<button  type="button" 
		      		   class="btn vdvc-nav-btn vdvc-doc-main-btn emptyTrashFolder" 
		      		   data-ng-click="EmptyTrash()"
		      		   data-tooltip-append-to-body="true"
		      		   data-tooltip-placement="bottom"
		      		   data-uib-tooltip="Empty Trash">
		       		<i class="fa fa-trash-o fa-fw"></i>
		      	</button>
			</div>
		</div>
		<div data-ng-show="checkedItems.length > 0"
			 class="navbar-fixed-top second-navbar second-navbar-top dl-action-navbar">
			<div class="col-xs-5 dlan-l" style="padding: 0px;">
			 	<button type="button" class="btn vdvc-doc-btn" data-ng-click="unselectAll($event)" style="padding: 5px 3px;">
			 		<i class="fa fa-close"></i>
			 	</button>
			 	<span style="display: inline-block;vertical-align: middle;">
			 		<span style="padding: 2px 0px;/* background: #fb8d33; */"><b>{{checkedItems.length}}</b></span>
			 		<span>Selected</span>
			 	</span>
			</div>
			<div class="col-xs-7 dlan-r"  style="text-align: right;">
				<button type="button" 
		  				class="btn vdvc-doc-btn {{key}}" 
		  				data-ng-repeat="(key, docAction) in docActionProps" 
		  				data-ng-show="docAction.show" 
		  				data-tooltip-append-to-body="true" 
		  				data-tooltip-placement="bottom" 
		  				data-uib-tooltip="{{docAction.title}}" 
		  				data-ng-click="executeDocAction(docAction.title)"
		  				style="margin: 0px;">
			  		<i class='fa {{docAction.class}}'></i> 
			  	</button>
			</div>		
		</div>
	</div>
	
	<div class="row" data-auto-height data-ng-if="view == 'Grid'">
		<div class="row" >
		<div class="col-xs-12" data-ng-if="folders.length>0">
				<span style="font-size: 25px; color: rgba(51, 51, 51, 0.74);"> FOLDERS  <span>({{folders.length}})</span> </span>
		</div>
		</div>	
		
		<div class="row" >
			<div data-scroll-to-current-folder
				 data-ng-if="!folder.trash"
				 data-folder-card 
				 data-ng-repeat ="folder in folders | orderBy : 'name' | limitTo:folderlimit track by folder.id"
				 class="col-xs-12 col-sm-3 col-md-2" 
				 style="padding: 15px;" data-is-current-folder="{{folder.isCurrentFolder}}">
			</div>
		</div>
		
		
		<div class="row" >
			<div class="col-xs-12" data-ng-if="docs.length>0">
				<span style="font-size: 25px; color: rgba(51, 51, 51, 0.74);"> FILES  <span>({{docs.length}})</span> </span>
			</div>
			<div data-doc-card  
				 class='col-xs-12 col-sm-4 col-md-3 col-lg-15' 
				 data-ng-repeat="doc in docs | orderBy : 'doc.displayName' track by doc.id"
				 style='padding: 15px;'>
			
			</div>
		</div>
	</div>
	
	<div class="col-xs-12" data-ng-if="view == 'List' && (folders.length>0 || docs.length>0)">
		<div class="col-xs-12" style="background: #fff;">
			<div class="col-xs-12" data-ng-if="folders.length>0">
					<span style="font-size: 25px; color: rgba(51, 51, 51, 0.74);"> FOLDERS  <span>({{folders.length}})</span> </span>
			</div>
			<div class="row">
				<table class="table docTable" data-ng-show="folders.length>0" style="width: 100%;">
				<thead >
					<tr style="height: 40px;">
						<!-- <th style="width: 75px;"></th>
						<th style="width: 40px;"></th> -->
						<th class="wraptext" 
							data-ng-if="$first" 
							data-ng-class="hdr.class" 
							data-ng-repeat="hdr in fldrlistHeaders" 
							data-ng-click="sortByfield(hdr,'folder')"
							style="padding: 8px;">
							<div class="row" style="position: relative;padding-right: 20px;">
					            <span style="width:30px;display: inline-block;vertical-align: middle;">
									<i class="fa fa-folder-o" style="font-size: 22px;"></i>
								</span>
								<span data-uib-tooltip="{{::hdr.label}}" data-tooltip-append-to-body="true">{{::hdr.label}}</span>
								<span class="" style="position: absolute;right: 5px;top:0;">
									<i class="fa" data-ng-show="hdr.value == fldrField" data-ng-class="{'fa-caret-up' : !fldrFieldDecending , 'fa-caret-down': fldrFieldDecending}"></i>
								</span>
							</div>
						</th>
						<th class="ellipsis" 
							data-ng-if="!$first" 
							data-ng-class="hdr.class" 
							data-ng-repeat="hdr in fldrlistHeaders" 
							data-ng-click="sortByfield(hdr,'folder')"
							style="padding: 8px;">
							<div class="row" style="position: relative;padding-right: 20px;">
								<span data-uib-tooltip="{{::hdr.label}}" data-tooltip-append-to-body="true">{{::hdr.label}}</span>
								<span class="" style="position: absolute;right: 5px;top:0;">
									<i class="fa" data-ng-show="hdr.value == fldrField" data-ng-class="{'fa-caret-up' : !fldrFieldDecending , 'fa-caret-down': fldrFieldDecending}"></i>
								</span>
							</div>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-if="!fldr.trash"
						data-ng-repeat="fldr in folders track by fldr.id" 
						data-ng-click="openDocument(fldr)"
						data-on-long-press="onLongPress(fldr)"
						data-ng-class="{'item-selected' : fldr.selected}">
						<td class="wraptext" data-ng-if="$first" data-ng-repeat="hdr in fldrlistHeaders">
							<span data-ng-click="$event.stopPropagation();"  class="checkbox" style="margin:0px;width:30px;display: inline-block;">
				               <input data-ng-model="fldr.selected" type="checkbox" data-ng-change="checkFolderOrFile(fldr)">
				               <label style="padding: 0px;"></label>
				            </span>
				            <span style="width:30px;display: inline-block;">
								<img alt="" style="width:17px;height: 18px;vertical-align: top;" data-ng-src="{{fldr.isLink? 'assets/icons/folder-link.png':(isShared(fldr)? 'assets/icons/folder-shared.png':'assets/icons/folder.png')}}" />
							</span>
							<span class="ellipsis"  data-uib-tooltip="{{fldr[hdr.value]}}" data-tooltip-append-to-body="true">{{fldr[hdr.value]}}</span>
						</td>
						<td class="ellipsis" data-ng-if="!$first" data-ng-repeat="hdr in fldrlistHeaders">
							<span class="row">
								<span class="ellipsis"  data-uib-tooltip="{{fldr[hdr.value]}}" data-tooltip-append-to-body="true">{{fldr[hdr.value]}}</span>
							</span>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="col-xs-12" data-ng-if="docs.length>0">
				<span style="font-size: 25px; color: rgba(51, 51, 51, 0.74);"> FILES  <span>({{docs.length}})</span> </span>
			</div>
			<table class="table docTable" data-ng-show="docs.length>0"style="width: 100%;"> 
				<thead >
					<tr style="height: 40px;">
						<th data-ng-if="$first" 
							class="wraptext" 
							data-ng-class="hdr.class" 
							data-ng-repeat="hdr in doclistHeaders" 
							data-ng-click="sortByfield(hdr,'doc')"
							style="padding: 8px;">
							<div class="row" style="position: relative;padding-right: 20px;">
					            <span style="width:30px;display: inline-block;vertical-align: middle;">
									<i class="fa fa-file-text-o" style="font-size: 17px;"></i>
								</span>
								<span class="ellipsis" data-uib-tooltip="{{::hdr.label}}" data-tooltip-append-to-body="true">{{::hdr.label}}</span>
								<span style="position: absolute;right: 5px;top:0;">
									<i class="fa" data-ng-show="hdr.value == docField" data-ng-class="{'fa-caret-up' : !docFieldDecending , 'fa-caret-down': docFieldDecending }"></i>
								</span>
							</div>
						</th>
						<th data-ng-if="!$first" 
							class="ellipsis" 
							data-ng-class="hdr.class" 
							data-ng-repeat="hdr in doclistHeaders" 
							data-ng-click="sortByfield(hdr,'doc')"
							style="padding: 8px;">
							<div class="row" style="position: relative;padding-right: 20px;">
								<span class="ellipsis" data-uib-tooltip="{{::hdr.label}}" data-tooltip-append-to-body="true">{{::hdr.label}}</span>
								<span style="position: absolute;right: 5px;top:0;">
									<i class="fa" data-ng-show="hdr.value == docField" data-ng-class="{'fa-caret-up' : !docFieldDecending , 'fa-caret-down': docFieldDecending }"></i>
								</span>
							</div>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="doc in docs track by doc.id" 
						data-ng-click="openDocument(doc)"
						data-on-long-press="onLongPress(doc)"
						data-ng-class="{'item-selected' : doc.selected}">
						<td data-ng-if="$first" 
							data-ng-class="hdr.class" 
							data-ng-repeat="hdr in doclistHeaders"
							style="padding: 8px;">
							<div class="wraptext">
								<span data-ng-click="$event.stopPropagation();"  class="checkbox" style="margin: 0px;width: 30px;display: inline-block;">
					                <input data-ng-model="doc.selected" type="checkbox" style="color: lightgrey;" data-ng-change="checkFolderOrFile(doc)">
					                <label style="padding: 0px;"></label>
					            </span>
					            <span style="width: 30px;display:inline-block;">
									<span class="crd-doc-icon" style="right: 0px;top: 0px;left: 3px;position: relative;">
										<i data-ng-class="getFileIcon(doc)" style="font-size: 17px;"></i>
									</span>
									<span class="crd-shrd-doc-icon" style="right: 18px;top: 2px;position: relative;" data-ng-show="doc.shared">
										<i class="fa fa-user" style="font-size: 10px;"></i>
									</span>
								</span>
								<span data-ng-switch="hdr.type">
									<span class="ellipsis">
										<span data-ng-switch-when="text" data-uib-tooltip="{{doc[hdr.value]}}" data-tooltip-append-to-body="true">{{doc[hdr.value]}}</span>
										<span data-ng-switch-when="Date" data-uib-tooltip="{{::doc[hdr.value] | date:'medium'}}" data-tooltip-append-to-body="true">{{::doc[hdr.value] | date:'medium'}}</span>
									</span>
								</span>
							</div>
							
						</td>
						<td class="ellipsis" 
							data-ng-if="!$first" 
							data-ng-class="hdr.class" 
							data-ng-repeat="hdr in doclistHeaders"
							style="padding: 8px;">
							<span class="row" data-ng-switch="hdr.type">
								<span class="ellipsis">
									<span data-ng-switch-when="text" data-uib-tooltip="{{doc[hdr.value]}}" data-tooltip-append-to-body="true">{{doc[hdr.value]}}</span>
									<span data-ng-switch-when="Date" data-uib-tooltip="{{::doc[hdr.value] | date:'medium'}}" data-tooltip-append-to-body="true">{{::doc[hdr.value] | date:'medium'}}</span>
								</span>
							</span>
							
						</td>
					</tr>
				</tbody>
			</table>
			</div>
		</div>
	</div> 
</div>
