<form data-ng-submit="webex.revokeAuthPerms()" class="webex-config-form">
	<div class="modal-header" style="padding: 10px 30px;">
		<h4 class="modal-title">
			Webex Config
			<i class="fa fa-close" style="float:right;color: #006699;" data-ng-click="webex.cancel()"></i>
		</h4>
	</div>
	<div class="modal-body ">
		<div class="row" style="height: 40px;line-height: 40px;margin: 10px;">
			<div class="col-xs-6">Numici User</div>
			<div class="col-xs-6">{{::webex.config.userId}}</div>
		</div>
		
		<div class="row" style="height: 40px;line-height: 40px;margin: 10px;">
			<div class="col-xs-6">Webex User Name</div>
			<div class="col-xs-6">{{::webex.config.name}}</div>
		</div>
		
		<div class="row" style="height: 40px;line-height: 40px;margin: 10px;">
			<div class="col-xs-6">Webex User Email</div>
			<div class="col-xs-6 box-user-email">{{::webex.config.email}}</div>
		</div>
	
	</div>
	<div class="modal-footer">
		<div class="col-xs-12" style="padding: 0px;">
			<div class="col-xs-6" style="float: right;padding-right: 0px;">
				<button class="btn vdvc-form-btn vdvc-form-btn-muted" 
				        type="button" 
				        data-ng-click="webex.cancel()" >CLOSE</button>
				<button class="btn vdvc-form-btn" 
					    type="submit" >REVOKE</button>
			</div>
		</div>
		
	</div>
</form>