<div class="container-fluid full vdvc-3ps-wrap">
	<div class="row full adv-srch-body">
		<div style="position: relative;" data-three-pane-height class="adv-srch-results-container">
			<div class="full">
				<div class="full srch-pane-3-wrap col-xs-12" style="padding-right: 15px;">
					<div data-ng-class="{'isolate': isolateDoc}" 
						class="col-xs-12 col-sm-12 col-md-12 col-lg-12 full doc-viewer-wrp srch-doc-viewer-wrp">
						<div class="full" data-ui-view data-name="content"></div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>