<div class="container-fluid mobile-doc-viewer" 
	id='vdvc_doc_viewer' 
	data-ng-init="docContext='FromDocument';annotationContext='document'" 
	style="padding:110px 0px 0px 0px;height:100%;overflow: hidden;">
	<mobile-doc-viewer-navbar></mobile-doc-viewer-navbar>
	<div class="col-xs-12" data-ng-show='showDoc' style="height: 100%;">
		<mobile-vdvc-note-viewer data-ng-show='!showPdf'></mobile-vdvc-note-viewer>
	</div>
	<mobile-vdvc-pdf-viewer data-ng-show='showPdf' class="full" style= "display: block;"></mobile-vdvc-pdf-viewer>
</div>