<div class="row full" data-ng-attr-data-id="{{viewerId}}">
	<div id="loader" data-ng-show="isLoading">
		<div class="pdf-progress-bar">
			<span class='bar' data-ng-style='{width: downloadProgress + "%"}'>Loading...</span>
		</div>
	</div> 
	<div class="row full pdf-wrap">
		<div class='row pdf-navbar'>
			<div class="col-xs-12">
				<div class="col-xs-9 navbar-right pdf-tools">
					  <button data-ng-click="zoomIn()" class="btn btn-xs vdvc-icon-btn"><i class="fa fa-search-plus"></i></button>
					  <button data-ng-click="fit()" class="btn btn-xs vdvc-icon-btn fa fa-arrows-alt"></button>
					  <button data-ng-click="zoomOut()" class="btn btn-xs vdvc-icon-btn"><i class="fa fa-search-minus"></i></button>
					  
					  <button data-ng-click="goPrevious()" class="btn btn-xs vdvc-icon-btn"><i class="fa fa-arrow-left"></i></button>
					  <span style="display: inline-block;    margin: 0px;">
					  	<input type="text" min=1 data-ng-model="pdfCurrentPage" data-ng-change="onPDFPageChanged()" class="vdvc-input-txt" 
						  style="padding: 0px;border: none;width: 25px;text-align: end;line-height: 35px;" >
						  <span style="display: inline-block;width: 35px;"> / {{pdfTotalPages}}</span>
					  </span>
					  <button data-ng-click="goNext()" class="btn btn-xs vdvc-icon-btn">
					  	<i class="fa fa-arrow-right"></i>
					  </button>
					  
					  <!-- 
					  <button data-ng-if="!userinfo.isGuestUser" data-ng-click="addComment('deepLink')" data-ng-model="pdfMenuItems" class="btn btn-xs vdvc-icon-btn" data-ng-class="{'active': pdfMenuItems.state=='rectagle'}">
					  	<i class="fa fa-link"></i>
					  </button>
					  <button data-ng-click="addComment('rectagle')" data-ng-model="pdfMenuItems" class="btn btn-xs vdvc-icon-btn" data-ng-class="{'active': pdfMenuItems.state=='rectagle'}">
					  	<i class="fa fa-square-o"></i>
					  </button>
					  <button data-ng-show="!doc.deleted"  data-ng-click="addComment('highlight')" data-ng-model="pdfMenuItems" class="btn btn-xs vdvc-icon-btn" data-ng-class="{'active': pdfMenuItems.state=='highlight'}">
					  	<i class="fa  fa-paint-brush"></i>
					  </button> -->
				</div>
				<div class='col-xs-3 navbar-right pdf-tools' style="padding: 0px;text-align: right;">
				   	<span class="btn btn-xs vdvc-nav-btn fa fa-download"
					 	data-ng-show="DownloadBtn.show"  
						data-ng-click='downLoad()' 
						data-uib-tooltip="Download" 
						data-tooltip-append-to-body="true" 
						data-tooltip-placement="bottom" 
						data-ng-disabled="!DownloadBtn.isEnabled">
					</span>
				   	<span class="btn btn-xs vdvc-nav-btn fa fa-comment-o" 
						  data-ng-click='toggleComments()' 
						  data-uib-tooltip="Show comments" 
						  data-tooltip-placement="bottom" 
						  data-ng-style="showComments && {'background-color':'#069','color':'#fff'}">
					</span>
				   	<span class="btn btn-xs vdvc-nav-btn fa fa-expand exp" 
						data-ng-show="showExpButton" 
						data-ng-click="expandDoc()" 
						data-uib-tooltip="Expand" 
						data-tooltip-placement="bottom">
					</span>
					<span class="btn btn-xs vdvc-nav-btn fa-compress fa cls" 
						data-ng-click="compressDoc()" 
						data-uib-tooltip="Compress" 
						data-tooltip-placement="bottom">
					</span>
				</div>
			</div>
		</div>
		<div class="row full pdf-container">
			<div class="col-xs-12 full" data-ng-show="!showComments">
				<div pdf-viewer
					data-src="{{pdfURL}}"
					data-current-page="pdfCurrentPage"
					data-initial-scale="fit_width"
					data-api="pdfViewerAPI"
					data-render-text-layer="true"
					data-progress-callback="onPDFProgress(operation, state, value, total, message)"
					data-password-callback="onPDFPassword(reason)"
					data-search-term="{{pdfSearchTerm}}"
					data-search-result-id="pdfSearchResultID"
					data-search-num-occurences="pdfSearchNumOccurences"
					data-annot-type="annotType" 
					public-view="false"
					id="content"
					class="vdvc-pdf-viewer">
				</div>
			</div>
			<div class="col-xs-12 comment-wrap full" data-ng-show="showComments">
				<div class="comment-in-wrp full">
					<div class="row vdvc_comment" data-ng-class="annotation.id" data-ng-attr-data-id="{{annotation.id}}" 
					 data-ng-attr-data-page="{{annotation.pageNum}}"
					 data-on-outside-element-click="onOutClickComment()"
					 data-ng-repeat="annotation in pdfAnnotations |  filter:{ type: 'Highlight'} track by $index">
					 	<div class="ellipsis comment-hdr col-xs-12" data-ng-click="pdfCommentOnclick($event,annotation)">
							<div class="row">
								<div class="row" style="width: calc(100% - 50px);float: left;">
									{{getPdfAnnotationText(annotation)}}
								</div>
								
								<div class="row" style="width: 50px;float: right;">
									<span class="slack-logo" 
										data-ng-show="showPostAnnotDigestToSlack()" 
										data-ng-class="{'disabled': !showPostAnnotDigestToSlack()}" 
										data-ng-click="showPostAnnotDigestToSlack() && postAnnotDigestToSlack(doc,annotation)" 
										data-tooltip-append-to-body='true'
										data-uib-tooltip="Post to Slack" 
										style="width: 17px;height: 17px;background-size: 17px;float: left;">
								    </span>
									<span class="annot-deep-link btn" 
										data-ng-show="isDocSharable(doc)" 
										data-ng-class="{'disabled': !isDocSharable(doc),'active': annotation.showDeepLink}" 
										data-ng-click="isDocSharable(doc) && getDocAnnotationLink(doc,annotation)" 
										data-tooltip-append-to-body='true'
										data-uib-tooltip="Share Annotation">
										<i class="fa fa-link fa-fw"></i>
								    </span>
								</div>
							</div>
						</div>
					 	<div class='comment-crd' data-ng-click="pdfCommentOnclick($event,annotation)">
							<div class='comment-conv'>
								<div class="row comment-conv-wrap" 
									data-ng-attr-data-convId="{{annotation.id}}">
									<div class="col-xs-2">
										<div class='vdvc-circle' data-tooltip-append-to-body='true'
											data-uib-tooltip="{{annotation.user}}">{{getUserlabel(annotation.user) | truncate: 2}}</div>
									</div>
									<div class="col-xs-10" >
										<div class="comment-conv-txt" 
											data-e-class="vdvc-txtA" 
											data-e-data-msd-elastic
											data-e-form="editAnnotForm" 
											data-e-data-ng-keypress="$event.stopPropagation();"
											data-e-ng-click="$event.stopPropagation();"
											data-editable-textarea="annotation.comment"
											data-onshow="preventClickEventOnEditComment($event)"
											data-onhide="unBindClickEventonEditComment()"
											data-onbeforesave="updatePdfComment($data,annotation,annotation)">
											<span data-ng-bind-html="annotation.comment | linky:'_blank'" ></span>
											<span data-ng-show="canEditPdfAnnotation(annotation)" class="comment-conv-menu" style="position: absolute;top: 0;right: -5px;">
												<span class="btn btn-xs fa fa-pencil" data-ng-class="{'disabled': doc.perms.readonly}" data-ng-click="!doc.perms.readonly && editComment(editAnnotForm,$event)"></span>
												<span class="btn btn-xs fa fa-trash-o" data-ng-class="{'disabled': doc.perms.readonly}" data-ng-click="!doc.perms.readonly && deletePdfComment(annotation,annotation,$event)"></span>
											</span>
										</div>
										<div class="text-muted" style="height: 20px; font-size: 10px;"> 
											<span>{{annotation.user}} | </span> <span data-am-time-ago='annotation.createdOn'></span>
										</div>
									</div>
								</div>
								<div class="row comment-conv-wrap" data-ng-repeat="conv in annotation.conversations | orderBy:'createdOn':false track by $index"
								data-ng-attr-data-convId="{{conv.id}}">
									<div class="col-xs-2">
										<div class='vdvc-circle' data-tooltip-append-to-body='true'
											data-uib-tooltip="{{conv.user}}">{{getUserlabel(conv.user) | truncate: 2}}</div>
									</div>
									<div class="col-xs-10" >
										<div class="comment-conv-txt" 
											data-e-class="vdvc-txtA" 
											data-e-data-msd-elastic
											data-e-form="editcommentForm" 
											data-e-data-ng-keypress="$event.stopPropagation();"
											data-e-ng-click="$event.stopPropagation();"
											data-editable-textarea="conv.comment"
											data-onshow="preventClickEventOnEditComment($event)"
											data-onhide="unBindClickEventonEditComment()"
											data-onbeforesave="updatePdfComment($data,conv,annotation)">
											<span data-ng-bind-html="conv.comment | linky:'_blank'" ></span>
											<span data-ng-show="canEditPdfAnnotation(conv)" class="comment-conv-menu" style="position: absolute;top: 0;right: -5px;">
												<span class="btn btn-xs fa fa-pencil" data-ng-class="{'disabled': doc.perms.readonly}" data-ng-click="!doc.perms.readonly && editComment(editcommentForm,$event)"></span>
												<span class="btn btn-xs fa fa-trash-o" data-ng-class="{'disabled': doc.perms.readonly}" data-ng-click="!doc.perms.readonly && deletePdfComment(conv,annotation,$event)"></span>
											</span>
										</div>
										<div class="text-muted" style="height: 20px; font-size: 10px;"> 
											<span>{{conv.user}} | </span> <span data-am-time-ago='conv.createdOn'></span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class='comment-in-wrap' data-ng-click="clickonText($event)" data-ng-show="!doc.perms.readonly">
							<div class='comment-in'>
								<div class="row">
									<textarea class="vdvc-txtA" data-msd-elastic
									 data-ng-model="docCommentReply[annotation.id]" placeholder="Comment" autofocus></textarea>
								</div>
							</div>
							<div class='comment-in-ftr'>
								<button class="btn btn-xs vdvc-btn-flat pull-left vfb"
									data-ng-click="cancelPdfAddComment($event,annotation)">CANCEL</button>
								<button class="btn btn-xs vdvc-form-btn pull-right vfb"
									data-ng-click="addPdfTextComment(annotation)">ADD</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="pdf-link-info" data-on-outside-element-click="hidePdfLinkInfo()" style="padding: 15px 5px;">
			<span style="position: absolute;
			    right: 0;
			    padding: 0px 5px;
			    top: 0px;
			    color: #777;">
				<span class='fa fa-trash-o btn btn-sm'
					  data-ng-click="deletePdfLink(linkInfo)"
					  style="font-size: 1em;padding: 5px;">
				</span>
			</span>
			<div class="row" style="padding: 3px 0px;">
				<span data-uib-tooltip="{{linkInfo.text}}" >{{linkInfo.text | truncate: 100: '...' }}</span>
			</div>
			<div class="row" style="padding: 3px 0px; font-size: 10px; color: #777;">
				<span style="padding-right: 5px;">{{linkInfo.linkCreatedTime | date:'medium' }} </span>
				<span style="padding: 0px 5px;border-left:1px solid #777;">{{linkInfo.linkType}}</span>
			</div>	
			<div class="row" style="padding: 3px 0px;">
				<div class="input-group" >
			      <input type="text" 
					   class="vdvc-input-txt" 
					   data-ng-model="linkInfo.url" 
					   data-focus-on="linkInfo"
					   data-select-on-focus 
					   data-select-on-click
					   readonly>
			      <span data-ng-show="::!deviceInfo.isSafari" class="input-group-btn" style="font-size: 14px;">
			        <button data-uib-tooltip="Copy to Clipboard" 
			        		class="btn vdvc-form-btn fa fa-clipboard" 
			        		type="button"
			        		data-clipboard
							data-supported="supported" 
							data-text="linkInfo.url" 
							data-on-copied="copySuccess()" 
							data-on-error="copyfail(err)" 
							style="font-size: 1.5em;">
					</button>
			      </span>
			      <span data-copy-link-help-style ></span>
				</div>
			</div>
			<div class="row" style="padding: 3px 0px; font-size: 10px; color: #777;">
				<b>Note : </b>If you plan to share the deep link with other users, make sure the file is accessible to those users
			</div>
		</div>
	</div>
</div>
	