<div class="row full">
	<div class="col-xs-12" >
		<div class="col-xs-12" 
			style="padding: 15px;text-align: center;margin-top: 15%;font-size: 18px;"
			data-ng-bind-html="dmc.showMessage">
		</div>
		<div class="col-xs-12" style="text-align: center;">
			<button data-ng-if="dmc.showDeleteButton"
				type="button" 
	      		class="btn vdvc-nav-btn" 
	      		data-ng-click="dmc.deleteMe()" 
	      		style="height: 35px; width: 150px;">
	        	Delete My Account
	      	</button>
	    </div>
	</div>
</div>