<form data-ng-submit="vm.ok()">
	<div class="modal-header">
		<h3 class="modal-title">Change Password</h3>
	</div>
	<div class="modal-body">
		<div data-ng-if="vm.localPassword" class="col-xs-12 form-group">
			<label class="col-xs-12 col-sm-4" for="current-password" style="height:30px;line-height: 35px;">Current Password</label>
			<div class="col-xs-12 col-sm-8 input-group">
				<input class="vdvc-input-txt" 
					   id="current-password" 
					   type="password" 
					   data-ng-model="vm.currentPassword"
					   data-show-password="vm.showCurrentPwd"
					   style="height: 34px;">
				<span class="input-group-btn" style="font-size: 14px;">
			        <button type="button" 
			        		class="btn vdvc-form-btn fa" 
			        		data-ng-class="{'fa-eye':!vm.showCurrentPwd,'fa-eye-slash':vm.showCurrentPwd}"
			        		data-uib-tooltip="{{vm.currentPwdToolTip}}" 
			        		data-ng-click="vm.showCurrentPassword()"
			        		style="padding: 9px 12px;">
			        </button>
			    </span>
			</div>
			
		</div>
		<div data-ng-show="vm.ShowCurrentPWDErrorMessage" style="text-align: center;color: red;">{{vm.currentPWDErrorMessage}}</div>
		<div class="col-xs-12 form-group">
			<label class="col-xs-12 col-sm-4" for="new-password" style="height:30px;line-height: 35px;">New Password</label>
			<div class="col-xs-12 col-sm-8 input-group">
				<input class="vdvc-input-txt" 
					   id="new-password" 
					   type="password" 
					   data-ng-model="vm.newPassword"
					   style="height: 34px;">
			</div>
			
		</div>
		<div data-ng-show="vm.ShowNewPWDErrorMessage" style="text-align: center;color: red;">{{vm.newPWDErrorMessage}}</div>
		<div class="col-xs-12 form-group">
			<label class="col-xs-12 col-sm-4" for="confirm-password" style="height:30px;line-height: 35px;">Confirm Password</label>
			<div class="col-xs-12 col-sm-8 input-group">
				<input class="vdvc-input-txt" 
					   id="confirm-password" 
					   type="password" 
					   data-ng-model="vm.confirmPassword"
					   data-show-password="vm.showConfirmPwd"
					   style="height: 34px;">
			    <span class="input-group-btn" style="font-size: 14px;">
			        <button type="button"
			        		class="btn vdvc-form-btn fa" 
			        		data-ng-class="{'fa-eye':!vm.showConfirmPwd,'fa-eye-slash':vm.showConfirmPwd}"
			        		data-uib-tooltip="{{vm.confirmPwdToolTip}}" 
			        		data-ng-click="vm.showConfirmPassword()"
			        		style="padding: 9px 12px;">
			        </button>
			    </span>
			</div>
			
		</div>
		<div data-ng-show="vm.ShowConfirmPWDErrorMessage" style="text-align: center;color: red;">{{vm.confirmPWDErrorMessage}}</div>
	</div>
	<div class="modal-footer">
		<button class="btn vdvc-form-btn vdvc-form-btn-muted" type="button" data-ng-if="vm.isCancelable" data-ng-click="vm.cancel()">CANCEL</button>
		<button class="btn vdvc-form-btn" type="submit" data-ng-disabled='vm.enableChange()'>CHANGE</button>
	</div>

</form>