<form data-ng-submit="vm.ok()">
	<div class="modal-header" style="height: 50px;padding: 10px 0px;">
		<div class="col-xs-12">
			<ul class="nav navbar-nav ellipsis" style="font-size: 20px; color: rgba(51, 51, 51, 0.74);float: left;line-height: 30px;width:100%;max-width:100%;height:35px;">
			 					 		
		 		<li data-tooltip-append-to-body='true' 
		 			data-uib-tooltip="Evernotes" 
		 			data-tooltip-placement="bottom"
		 			class="vdvc-breadcrumbs  ellipsis full">
		 		  	<span data-ng-click="vm.openEvernotes()">
				         Evernotes
			       	</span>
		 		</li>
		 		
		 		<li data-tooltip-append-to-body='true' 
		 			data-uib-tooltip="{{vm.currntNoteBook.name}}" 
		 			data-tooltip-placement="bottom"
		 			class="vdvc-breadcrumbs  ellipsis full">
		 		  	<span>
			         	<i class="fa fa-book-o" data-ng-show="!fldr.isDummy"></i> {{vm.currntNoteBook.name}}
			       	</span>
		 		</li>
		 	</ul> 
				
		</div>
	</div>
<!-- 	<div class="modal-body" style="height: 300px;overflow: auto;background: #eee;">
		<div class="col-sm-6 col-xs-12" data-ng-repeat="noteBook in vm.noteBooksList"  data-ng-click="vm.openNoteBook(noteBook)" style="padding: 5px;">
			<div class="col-xs-12 fldr-bar">
				<div class="col-xs-2" style="padding: 0px">
					<span class="fa fa-book" style="position: absolute;top: 6px;font-size: 30px;color: #aaa;"></span>
				</div>
				<div class="col-xs-10 ellipsis" data-uib-tooltip="{{noteBook.name}}" data-tooltip-append-to-body='true'>{{noteBook.name}}</div>
			</div>
		</div>
		
		<div class="col-sm-6 col-xs-12" data-ng-repeat="note in vm.noteList" style="padding: 5px;">
			<div class="col-xs-12 fldr-bar"
				 data-ng-click="vm.selectNote(note)" 
				 data-ng-class="{'fldr-slct':vm.isSelectedNote(note)}">
				<div class="col-xs-2" style="padding: 0px">
					<span class="fa  fa-file-text-o" style="position: absolute;top: 6px;font-size: 30px;color: #aaa;"></span>
				</div>
				<div class="col-xs-10 ellipsis" data-uib-tooltip="{{note.title}}" data-tooltip-append-to-body='true'>{{note.title}}</div>
			</div>
		</div>
		
	</div> -->
	<div class="modal-body" style="height: 300px;overflow: auto;background: #eee;">
		<div class="row" data-ng-if="vm.noteBooksList.length>0" style="margin-bottom: 5px;">
			<div class="col-xs-5" style="padding-left: 0px;">
				<span class="fldrs-hdr"> 
					NOTEBOOKS 
					<span>({{vm.getNotebookListCount()}})</span>
				</span>
			</div>
			<div class="col-xs-7" style="padding:0px;">
				<div class="col-xs-2" style="width: 30px;float: right;padding: 0px;">
					<div class="table-col-con-dd" 
						data-uib-dropdown 
						data-auto-close="outsideClick">
						<button  type="button" 
		      		   			 class="btn vdvc-nav-btn vdvc-doc-main-btn"
		      		   			 data-uib-dropdown-toggle 
		      		   			 data-ng-disabled="disabled" >
					    	<i class="fa fa-ellipsis-h fa-rotate-90 fa-fw"></i>
					    </button>
					    <ul data-uib-dropdown-menu class="dropdown-menu-right" role="menu" aria-labelledby="single-button">
					        <li role="menuitem" data-ng-class="{active : hdr.checked}" data-ng-repeat="hdr in vm.noteBooksListHeaders" data-ng-click="vm.selectColumn(hdr,vm.noteBooksListHeaders)">
					        	<div class="vdvc-drop-down-item">{{hdr.label}}</div>
					        	<div data-ng-if="!$last" class="vdvc-divider"></div>
					        </li>
					    </ul>
				    </div>
				</div>
				<div class="col-xs-10" style="padding:0px 5px 0px 0px;width: calc(100% - 30px);float: right;">
					<input type="text" 
		        	   class="form-control vdvc-input-txt" 
		        	   data-ng-model="vm.noteOrNotebookSearchString"  
					   placeholder='Find Notebook'>
				</div>
			</div>
			
		</div>
		<div class="row">
			<table id="notebooks-table" class="table docTable fldrs-table" data-ng-show="vm.noteBooksList.length>0">
				<thead >
					<tr>
						<th class="wraptext" 
							data-ng-if="hdr.checked && $first" 
							data-ng-class="hdr.class" 
							data-ng-repeat="hdr in vm.noteBooksListHeaders" 
							data-ng-click="vm.sortByfield(hdr,'noteBooks')">
							<div class="row lv-th-ele-wrap">
								<span class="lv-obj-icon-wrap">
									<i class="fa fa-fw fa-book"></i>
								</span>
								<span data-uib-tooltip="{{hdr.label}}" 
									data-tooltip-append-to-body="true">
									{{hdr.label}}
								</span>
								<span class="lv-sort-icon-wrap">
									<i class="fa fa-fw" 
										data-ng-show="hdr.value == vm.noteBooksField" 
										data-ng-class="{'fa-caret-up' : !vm.noteBooksFieldDecending , 'fa-caret-down': vm.noteBooksFieldDecending}">
									</i>
								</span>
							</div>
						</th>
						<th class="ellipsis" 
							data-ng-if="hdr.checked && !$first" 
							data-ng-class="hdr.class" 
							data-ng-repeat="hdr in vm.noteBooksListHeaders" 
							data-ng-click="vm.sortByfield(hdr,'noteBooks')">
							<div class="row lv-th-ele-wrap">
								<span data-uib-tooltip="{{hdr.label}}" 
									data-tooltip-append-to-body="true">
									{{hdr.label}}
								</span>
								<span class="lv-sort-icon-wrap">
									<i class="fa fa-fw" 
										data-ng-show="hdr.value == vm.noteBooksField" 
										data-ng-class="{'fa-caret-up' : !vm.noteBooksFieldDecending , 'fa-caret-down': vm.noteBooksFieldDecending}">
									</i>
								</span>
							</div>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-if="vm.noteOrNotebookSearchFilter(noteBook,'noteBook')" 
						data-ng-repeat="noteBook in vm.noteBooksList track by noteBook.guid" 
						data-ng-dblclick="vm.openNoteBook(noteBook)" 
						data-ng-click="!vm.supportMultiSelectNoteBooks && vm.openNoteBook(noteBook)" 
						data-on-long-press="!vm.supportMultiSelectNoteBooks && vm.openNoteBook(noteBook)" 
						class="notebook-row">
						<td data-ng-class="hdr.class" 
							data-ng-if="hdr.checked && $first" 
							data-ng-repeat="hdr in vm.noteBooksListHeaders">
							<div class="wraptext">
								<div data-ng-if="vm.supportMultiSelectNoteBooks" class="checkbox lv-cb-wrap" 
									data-ng-click="$event.stopPropagation();">
				               		<input type="checkbox" 
				               			data-ng-model="noteBook.selected" 
				               			data-ng-change="vm.openNoteBook(noteBook)">
				               		<label class="lv-cb-label"></label>
				            	</div>
								<div class="lv-obj-icon-wrap" style="float: left;">
									<i class="fa fa-fw fa-book"></i>
								</div>
								<div data-ng-switch="hdr.type" style="float: left;max-width: calc(100% - 60px);">
									<div class="ellipsis">
										<div data-ng-switch-when="text" 
											data-uib-tooltip="{{noteBook[hdr.DValue]}}" 
											data-tooltip-append-to-body="true">
											{{noteBook[hdr.DValue]}}
										</div>
										<div data-ng-switch-when="Date" 
											data-uib-tooltip="{{noteBook[hdr.DValue] | date:'medium'}}" 
											data-tooltip-append-to-body="true">
											{{noteBook[hdr.DValue] | date:'medium'}}
										</div>
									</div>
								</div>	
							</div>
						</td>
						<td class="ellipsis" 
							data-ng-if="hdr.checked && !$first" 
							data-ng-repeat="hdr in vm.noteBooksListHeaders">
							<span class="row" 
								data-ng-switch="hdr.type">
								<span class="ellipsis">
									<span data-ng-switch-when="text" 
										data-uib-tooltip="{{noteBook[hdr.DValue]}}" 
										data-tooltip-append-to-body="true">
										{{noteBook[hdr.DValue]}}
									</span>
									<span data-ng-switch-when="Date" 
										data-uib-tooltip="{{noteBook[hdr.DValue] | date:'medium'}}" 
										data-tooltip-append-to-body="true">
										{{noteBook[hdr.DValue] | date:'medium'}}
									</span>
								</span>
							</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="row" data-ng-if="vm.noteList.length>0" style="margin-bottom: 5px;">
			<div class="col-xs-5" style="padding-left: 0px;">
				<span class="files-hdr"> 
					NOTES 
					<span>({{vm.getNoteListCount()}})</span>
				</span>
			</div>
			<div class="col-xs-7" style="padding:0px;">
				<div class="col-xs-2" style="width: 30px;float: right;padding: 0px;">
					<div class="table-col-con-dd" 
						data-uib-dropdown 
						data-auto-close="outsideClick">
						<button  type="button" 
		      		   			 class="btn vdvc-nav-btn vdvc-doc-main-btn"
		      		   			 data-uib-dropdown-toggle 
		      		   			 data-ng-disabled="disabled" >
					    	<i class="fa fa-ellipsis-h fa-rotate-90 fa-fw"></i>
					    </button>
					    <ul data-uib-dropdown-menu class="dropdown-menu-right" role="menu" aria-labelledby="single-button">
					        <li role="menuitem" data-ng-class="{active : hdr.checked}" data-ng-repeat="hdr in vm.noteListHeaders" data-ng-click="vm.selectColumn(hdr,vm.noteListHeaders)">
					        	<div class="vdvc-drop-down-item">{{hdr.label}}</div>
					        	<div data-ng-if="!$last" class="vdvc-divider"></div>
					        </li>
					    </ul>
				    </div>
				</div>
				<div class="col-xs-10" style="padding:0px 5px 0px 0px;width: calc(100% - 30px);float: right;">
					<input type="text" 
		        	   class="form-control vdvc-input-txt" 
		        	   data-ng-model="vm.noteOrNotebookSearchString"  
					   placeholder='Find Note'>
				</div>
			</div>
		</div>
		<div class="row">
			<table id="notes-table" class="table docTable files-table" data-ng-show="vm.noteList.length>0"> 
				<thead>
					<tr>
						<th class="wraptext" 
							data-ng-class="hdr.class" 
							data-ng-if="hdr.checked && $first" 
							data-ng-repeat="hdr in vm.noteListHeaders" 
							data-ng-click="vm.sortByfield(hdr,'note')">
							<div class="row lv-th-ele-wrap">
								<span data-ng-if="vm.supportMultiSelectNote" class="head-cb checkbox lv-cb-wrap" 
									data-ng-click="$event.stopPropagation();">
				               		<input type="checkbox" 
				               			data-ng-model="vm.checkAllNotes.selected" 
				               			data-ng-change="vm.selectAllNotes()">
				               		<label class="head-cb-lable lv-cb-label"></label>
				            	</span>
								<span class="lv-obj-icon-wrap">
									<i class="fa fa-file-text-o lv-hdr-file-icon"></i>
								</span>
								<span class="ellipsis" 
									data-uib-tooltip="{{hdr.label}}" 
									data-tooltip-append-to-body="true">
									{{hdr.label}}
								</span>
								<span class="lv-sort-icon-wrap">
									<i class="fa fa-fw" 
										data-ng-show="hdr.value == vm.noteField" 
										data-ng-class="{'fa-caret-up' : !vm.noteFieldDecending , 'fa-caret-down': vm.noteFieldDecending }">
									</i>
								</span>
							</div>
						</th>
						<th class="ellipsis" 
							data-ng-class="hdr.class" 
							data-ng-if="hdr.checked && !$first" 
							data-ng-repeat="hdr in vm.noteListHeaders" 
							data-ng-click="vm.sortByfield(hdr,'note')">
							<div class="row lv-th-ele-wrap">
								<span class="ellipsis" 
									data-uib-tooltip="{{hdr.label}}" 
									data-tooltip-append-to-body="true">
									{{hdr.label}}
								</span>
								<span class="lv-sort-icon-wrap">
									<i class="fa fa-fw" 
										data-ng-show="hdr.value == vm.noteField" 
										data-ng-class="{'fa-caret-up' : !vm.noteFieldDecending , 'fa-caret-down': vm.noteFieldDecending }">
									</i>
								</span>
							</div>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-if="vm.noteOrNotebookSearchFilter(note,'note')" 
						data-ng-repeat="note in vm.noteList track by note.guid" 
						data-ng-click="!vm.supportMultiSelectNote && vm.selectNote(note)" 
						data-on-long-press="!vm.supportMultiSelectNote && vm.selectNote(note)" 
						class="note-row">
						<td data-ng-class="hdr.class" 
							data-ng-if="hdr.checked && $first" 
							data-ng-repeat="hdr in vm.noteListHeaders">
							<div class="wraptext">
								<div data-ng-if="vm.supportMultiSelectNote" class="checkbox lv-cb-wrap" 
									data-ng-click="$event.stopPropagation();" style="float: left;">
				                	<input type="checkbox" 
				                		data-ng-model="note.selected" 
				                		data-ng-change="vm.selectNote(note)">
				                	<label class="lv-cb-label"></label>
				            	</div>
								<div class="lv-obj-icon-wrap" style="float: left;">
									<i class="fa  fa-file-text-o"></i>
								</div>
								<div data-ng-switch="hdr.type" style="float: left;max-width: calc(100% - 60px);">
									<div class="ellipsis">
										<div data-ng-switch-when="text" 
											data-uib-tooltip="{{note[hdr.DValue]}}" 
											data-tooltip-append-to-body="true">
											{{note[hdr.DValue]}}
										</div>
										<div data-ng-switch-when="Date" 
											data-uib-tooltip="{{note[hdr.DValue] | date:'medium'}}" 
											data-tooltip-append-to-body="true">
											{{note[hdr.DValue] | date:'medium'}}
										</div>
									</div>
								</div>
							</div>
						</td>
						<td class="ellipsis" 
							data-ng-class="hdr.class" 
							data-ng-if="hdr.checked && !$first" 
							data-ng-repeat="hdr in vm.noteListHeaders">
							<span class="row" 
								data-ng-switch="hdr.type">
								<span class="ellipsis">
									<span data-ng-switch-when="text" 
										data-uib-tooltip="{{note[hdr.DValue]}}" 
										data-tooltip-append-to-body="true">
										{{note[hdr.DValue]}}
									</span>
									<span data-ng-switch-when="Date" 
										data-uib-tooltip="{{note[hdr.DValue] | date:'medium'}}" 
										data-tooltip-append-to-body="true">
										{{note[hdr.DValue] | date:'medium'}}
									</span>
								</span>
							</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn vdvc-form-btn vdvc-form-btn-muted" type="button" data-ng-click="vm.cancel()">CANCEL</button>
		<button class="btn vdvc-form-btn" type="submit" data-ng-disabled='vm.enableOpen()'>OPEN</button>
	</div>
</form>