<div class="fill" style="overflow-x: hidden;overflow-y: auto;background-image:  url('app/assets/images/analyst.jpg');">
	<!-- <div data-ng-include 
		 data-src="'app/components/authentication/Mobile/loginTemplate.html'" 
		 style="position: absolute;width: 100%;top: 50%;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);">
	</div> -->
	<div data-ng-include 
		 data-src="'app/components/authentication/Mobile/tempLoginTemplate.html'" 
		 style="position: absolute;width: 100%;top: 50%;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);">
	</div>
</div>
<footer style="position: fixed;background-color: rgb(0 0 0 / 26%);">
	<div class="container" style="padding-right: 0px;padding-left: 0px;">
	  <p style="margin: 5px 0px;">Copyright&copy; 2016 - 2023 Numici. All rights reserved </p>
	</div>
 </footer>










