<div class="col-xs-12">
	<div class="row">
		<div class="col-xs-8 form-group row input-wrap" style="padding-left: 0px;">
			<h3 style="margin: 0px;">
				<div style="width: 172px;float: left;height: 34px;line-height: 34px;">DESCRIPTION : </div>
				<div data-ng-show="!vaic.isEditedActionItemInfo" 
					data-uib-tooltip="{{vaic.actionItemInfo.description}}"
			  		data-tooltip-placement="auto"  
	 				data-tooltip-append-to-body='true'
					style="width: calc(100% - 172px);float: left;height: 34px;line-height: 34px;">
					{{vaic.actionItemInfo.description}}
				</div>
				<div data-ng-show="vaic.isEditedActionItemInfo" id="briefDescription" style="width: calc(100% - 172px);float: left;">
					 <input type="text" 
					 		class="vdvc-input-txt" 
					 		data-ng-model="vaic.editedActionItemInfo.description" 
		             		style="height: 34px;" />
				</div>
			</h3>
		</div>
		<div class="col-xs-4 form-group row input-wrap" style="margin: 10px 0px;padding: 0px;text-align: right;">
			<button class="btn vdvc-form-btn" 
				type="button" 
				data-ng-show="!vaic.isEditedActionItemInfo" 
				data-ng-click="vaic.editActionItem()" 
				data-tooltip-append-to-body="true" 
				data-tooltip-placement="auto" 
				data-uib-tooltip="Edit" 
				data-ng-disabled="vaic.disableEditActionItemBtn()">
				<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
			</button>
			<button class="btn vdvc-form-btn" 
				type="button" 
				data-ng-show="vaic.isEditedActionItemInfo" 
				data-ng-click="vaic.cancelSaveActionItem()" 
				data-tooltip-append-to-body="true" 
				data-tooltip-placement="auto" 
				data-uib-tooltip="Cancel Update" 
				data-ng-disabled="vaic.disableEditActionItemBtn()">
				<i class="fa fa-times"></i>
			</button>
			<button class="btn vdvc-form-btn" 
				type="button" 
				data-ng-show="vaic.isEditedActionItemInfo" 
				data-ng-click="vaic.saveActionItem()" 
				data-tooltip-append-to-body="true" 
				data-tooltip-placement="auto" 
				data-uib-tooltip="Update" 
				data-ng-disabled="vaic.disableSaveActionItemBtn()">
				<i class="fa fa-save"></i>
			</button>
			<button class="btn vdvc-form-btn" 
				type="button" 
				data-ng-click="vaic.markCompleteActionItem()" 
				data-tooltip-append-to-body="true" 
				data-tooltip-placement="auto" 
				data-uib-tooltip="Mark Complete" 
				data-ng-disabled="vaic.disableCompleteActionItemBtn()">
				<i class="fa fa-check fa-fw" aria-hidden="true"></i>
			</button>
			<button type="button" class="btn vdvc-form-btn" 
	 			data-ng-click="vaic.openInContext()" 
	 			data-tooltip-append-to-body="true" 
				data-tooltip-placement="auto" 
				data-uib-tooltip="Open In Context">
		 		<i class="fa fa-long-arrow-up fa-fw" style="transform: rotate(45deg);"></i>
		 	</button>
		</div>
	</div>
</div>
<div class="col-xs-12">
	<div class="row">
		<div class="col-xs-6 form-group row input-wrap" style="margin: 10px 0px;padding: 0px;">
			<label for="objType">OBJECT TYPE</label>
			<div id="objType" 
				data-uib-tooltip="{{vaic.actionItemInfo.objType}}"
		  		data-tooltip-placement="auto"  
				data-tooltip-append-to-body='true'>
				 {{vaic.actionItemInfo.objType}}
			</div>    
		</div>
		<div class="col-xs-6 form-group row input-wrap" style="margin: 10px 0px;padding: 0px;">
			<label for="status">STATUS</label>
			<div id="status" 
				data-uib-tooltip="{{vaic.actionItemInfo.status}}"
		  		data-tooltip-placement="auto"  
				data-tooltip-append-to-body='true'>
				 {{vaic.actionItemInfo.status}}
			</div>    
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 form-group row input-wrap" style="margin: 10px 0px;padding: 0px;">
			<label for="createdBy">CREATED BY</label>
			<div id="createdBy" 
				data-uib-tooltip="{{vaic.actionItemInfo.createdBy}}"
		  		data-tooltip-placement="auto"  
				data-tooltip-append-to-body='true'>
				{{vaic.actionItemInfo.createdBy}}
			</div>    
		</div>
		<div class="col-xs-6 form-group row input-wrap" style="margin: 10px 0px;padding: 0px;">
			<label for="assignedTo">ASSIGNED TO</label>
			<div id="assignedTo" 
				data-uib-tooltip="{{vaic.actionItemInfo.assignedTo}}"
		  		data-tooltip-placement="auto"  
				data-tooltip-append-to-body='true'
				data-ng-show="!vaic.isEditedActionItemInfo">
				{{vaic.actionItemInfo.assignedTo}}
			</div>  
			<div id="assignedTo" data-ng-show="vaic.isEditedActionItemInfo">
				<data-ui-select multiple limit="1"
						   data-ng-model="vaic.editedActionItemInfo.users"
						   data-tagging="vaic.tagTransform"  
						   sortable="true" 
						   autofocus="true" 
						   data-on-select="vaic.clearSelection($select)">
					
				    <data-ui-select-match placeholder="Select Users...">{{vaic.getSelectedUserName($item)}}</data-ui-select-match>
				    
				    <data-ui-select-choices repeat="user.loginId as user in vaic.mensionUsers | filter:{loginId:$select.search}">
				      <div data-ng-if="user.firstName && user.firstName.length > 0" data-ng-bind-html="user.firstName+' '+ user.lastName | highlight: $select.search"></div>
				      <small>
				        {{user.loginId}}
				      </small>
				    </data-ui-select-choices>
				</data-ui-select>
			</div>   
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 form-group row input-wrap" style="margin: 10px 0px;padding: 0px;">
			<label for="createdDate">CREATED DATE</label>
			<div id="createdDate" 
				data-uib-tooltip="{{vaic.actionItemInfo.createdDate | date:'medium'}}"
		  		data-tooltip-placement="auto"  
				data-tooltip-append-to-body='true'>
				{{vaic.actionItemInfo.createdDate | date:'medium'}}
			</div>    
		</div>
		<div class="col-xs-6 form-group row input-wrap" style="margin: 10px 0px;padding: 0px;">
			<label for="modifiedDate">MODIFIED DATE</label>
			<div id="modifiedDate" 
				data-uib-tooltip="{{vaic.actionItemInfo.modifiedDate | date:'medium'}}"
		  		data-tooltip-placement="auto"  
				data-tooltip-append-to-body='true'>
				{{vaic.actionItemInfo.modifiedDate | date:'medium'}}
			</div>    
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 form-group row input-wrap" style="margin: 10px 0px;padding: 0px;">
			<label for="dueDate">DUE DATE</label>
			<div id="dueDate" 
				data-uib-tooltip="{{vaic.actionItemInfo.dueDate | date:'medium'}}"
		  		data-tooltip-placement="auto"  
				data-tooltip-append-to-body='true' 
				data-ng-show="!vaic.isEditedActionItemInfo">
				{{vaic.actionItemInfo.dueDate | date:'medium'}}
			</div>   
			<div id="dueDate" data-ng-show="vaic.isEditedActionItemInfo">
				 <input type="text" 
				 		class="vdvc-input-txt"  
				 		data-uib-datepicker-popup
				 		data-is-open="vaic.dueDate.opened" 
	             		data-datepicker-options="vaic.dueDateOptions" 
	             		data-date-disabled="disabled(date, mode)" 
	             		data-show-button-bar='false' 
	             		data-ng-model='vaic.editedActionItemInfo.dueDate' 
	             		data-ng-click="vaic.dueDateOpen($event)" 
	             		style="height: 34px;" />
	             <i class="fa fa-calendar" style='position: absolute;right: 10px;top: 70%;color: #999;font-size: 20px;transform: translateY(-50%);' data-ng-click="vaic.dueDateOpen($event)"></i>
			</div>  
		</div>
		<div class="col-xs-6 form-group row input-wrap" style="margin: 10px 0px;padding: 0px;">
			<label for="completedDate">COMPLETED DATE</label>
			<div id="completedDate" 
				data-uib-tooltip="{{vaic.actionItemInfo.completedDate | date:'medium'}}"
		  		data-tooltip-placement="auto"  
				data-tooltip-append-to-body='true'>
				{{vaic.actionItemInfo.completedDate | date:'medium'}}
			</div>    
		</div>
	</div>
	<div class="col-xs-12 form-group row input-wrap" style="margin: 10px 0px;padding: 0px;">
		<label for="asnalink">ASANA URL</label>
		<div id="asnalink" 
			data-uib-tooltip="{{vaic.actionItemInfo.asanaUrl}}"
	  		data-tooltip-placement="auto"  
			data-tooltip-append-to-body='true'>
			 <a href="{{vaic.actionItemInfo.asanaUrl}}" target="_blank">{{vaic.actionItemInfo.asanaUrl}}</a>
		</div>    
	</div>
	<div class="col-xs-12 form-group row input-wrap" style="margin: 10px 0px;padding: 0px;">
		<label for="longDescription">LONG DESCRIPTION</label>
		<div id="longDescription" 
			data-ng-show="!vaic.isEditedActionItemInfo" 
			style="border: 1px solid #ddd;padding: 5px;max-height: 150px;overflow-y: auto;min-height: 65px;">
			 {{vaic.actionItemInfo.longDescription}}
		</div>  
		<div id="longDescription" data-ng-show="vaic.isEditedActionItemInfo">
			 <textarea data-msd-elastic 
			 	class="vdvc-txtA" 
				rows="2" 
			 	data-ng-model="vaic.editedActionItemInfo.longDescription" 
			 	style="overflow: hidden;overflow-wrap: break-word;resize: none;min-height: 65px;max-height: 150px;overflow-y: auto;">
			 </textarea>
		</div>  
	</div>
	
	<div class="col-xs-12 form-group row input-wrap" 
		style="margin: 10px 0px;padding: 0px;">
		<label for="comments">AUDIT TRIAL</label>
		<div class="col-xs-12" id="comments" style="padding: 0px;">
			 <table class="table docTable files-table" style="position: relative;"> 
				<thead>
					<tr>
						<th class="ellipsis" 
							data-ng-class="hdr.class" 
							data-ng-if="hdr.checked" 
							data-ng-repeat="hdr in vaic.actionItemCommentsHeaders">
							<div class="row lv-th-ele-wrap">
								<span class="ellipsis" 
									data-uib-tooltip="{{::hdr.label}}" 
									data-tooltip-append-to-body="true">
									{{::hdr.label}}
								</span>
							</div>
						</th>
					</tr>
				</thead>
				<tbody style="position: absolute;width: 100%;top: 40px;max-height: 150px;overflow-y: auto;overflow-x: hidden;background: #fff;">
					<tr data-ng-repeat="actionItemComment in vaic.actionItemInfo.comments" 
						style="width: calc(100% + 15px);float: left;">
						<td data-ng-class="hdr.class" 
							data-ng-if="hdr.checked && !$last" 
							data-ng-repeat="hdr in vaic.actionItemCommentsHeaders" 
							style="float: left;">
							<div class="ellipsis">
								<span data-ng-switch="hdr.type">
									<span class="ellipsis">
										<span data-ng-switch-when="text" 
											data-uib-tooltip="{{actionItemComment[hdr.DValue]}}" 
											data-tooltip-append-to-body="true">
											{{actionItemComment[hdr.DValue]}}
										</span>
										<span data-ng-switch-when="Date" 
											data-uib-tooltip="{{actionItemComment[hdr.DValue] | date:'medium'}}" 
											data-tooltip-append-to-body="true">
											{{actionItemComment[hdr.DValue] | date:'medium'}}
										</span>
									</span>
								</span>
							</div>
						</td>
						<td data-ng-class="hdr.class" 
							data-ng-if="hdr.checked && $last" 
							data-ng-repeat="hdr in vaic.actionItemCommentsHeaders" 
							style="float: left;">
							<div class="ellipsis" style="width: calc(100% - 15px);">
								<span data-ng-switch="hdr.type">
									<span class="ellipsis">
										<span data-ng-switch-when="text" 
											data-uib-tooltip="{{actionItemComment[hdr.DValue]}}" 
											data-tooltip-append-to-body="true">
											{{actionItemComment[hdr.DValue]}}
										</span>
										<span data-ng-switch-when="Date" 
											data-uib-tooltip="{{actionItemComment[hdr.DValue] | date:'medium'}}" 
											data-tooltip-append-to-body="true">
											{{actionItemComment[hdr.DValue] | date:'medium'}}
										</span>
									</span>
								</span>
							</div>
						</td>
					</tr>
					<tr data-ng-show="vaic.actionItemInfo.comments.length == 0" 
						style="width: calc(100% + 15px);float: left;">
						<td class="ellipsis" 
							data-ng-class="col-xs-12" 
							data-uib-tooltip="No action items comments listed." 
							data-tooltip-append-to-body="true">
							No action items comments.
						</td>
					</tr>
				</tbody>
			</table>
		</div>    
	</div>
</div>