<div class="container-fluid full">
	<div class="row full" style="position: relative;">
		<div class="row" style="width: 70%;
		    height: 300px;
		    background: #fff;
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    transform: translate(-50%,-50%);
		    text-align: center;
		    font-size: 18px;">
			<div style="position: fixed;
			    width: 100%;
			    top: 50%;
			    left: 0px;
			    transform: translate(0%,-50%);">
			    <span>We are ready to integrate Numici with Slack. Click Add to Slack</span>
			   <button type="button" class="btn vdvc-form-btn" data-ng-click="asc.addSlack($event)">
			 		<i class="fa slack-logo fa-fw"></i>  Add Slack
			   </button>
			   <span>to proceed.</span>
			</div>
		</div>
	</div>
</div>
