
<div data-docInfo="" class="row">
	<h4 data-ng-style="::titleStyles()"
		data-ng-if="digestFor != 'DigestDocument' && digestMetaInfoOptions.documentName">
		<a data-ng-href="{{::digest.link}}" target="_blank"
			data-tooltip-append-to-body="true"
			data-uib-tooltip="{{::digest.displayName}}" role="button"
			style="color: #069; text-decoration: none !important;">
			{{::digest.displayName}} </a>
	</h4>

	<div class="markdown-body row meta-info-description" 
		data-ng-if="digest.description && digestMetaInfoOptions.description" 
		data-ng-bind-html="digest.description | to_trusted" 
		data-ng-style="{'margin': digestFor == 'DigestDocument' ? '1em 0em 0em' : '0em'}">
		<!-- {{::digest.description}} -->
	</div>
	<div class="markdown-body row meta-info-note-content"
		data-ng-if="digest.documentType == 'Notes' && digest.content" 
		data-ng-bind-html="digest.content | to_trusted" 
		data-ng-style="{'margin': digestFor == 'DigestDocument' ? '1em 0em 0em' : '0em'}">
	</div>
	<div class="row meta-info-publisher" data-ng-if="digest.website">
		<span class="meta-info-publisher-name"
			data-ng-if="digestMetaInfoOptions.websiteName"> <span
			class="name" data-ng-if="!digest.url"> {{::digest.website}} </span> <a
			data-ng-if="digest.url" class="name" data-ng-href="{{::digest.url}}"
			target="_blank" data-tooltip-append-to-body="true"
			data-uib-tooltip="{{::digest.url}}"
			style="color: #069; text-decoration: none !important;">
				{{::digest.website}} </a>
		</span>
	</div>
	<div class="row"
		data-ng-if="digest.tags && digestMetaInfoOptions.documentTags">
		<span data-ng-repeat="tag in ::digest.tags track by $index"
			style="display: inline-block; height: 25px; line-height: 25px; background: #069; padding: 0px 10px; margin: 5px; color: #fff;">
			{{tag}} </span>
	</div>
</div>
<div class="row" style="margin: 10px 0px;">
	<a data-ng-href="{{::digest.link}}" target="_blank"> <img
		class="image" data-ng-src="{{::digest.imageUrl}}" align="middle"
		data-ng-if="digest.imageUrl && digestMetaInfoOptions.image"
		style="width: 100%; position: relative; display: block; max-height: 339px; object-fit: cover; object-position: center top;"
		data-ng-style="::altImageStyles(digest)" data-cke-real-node-type="1"
		data-track-changes-ignore="true" data-cke-editable="false"
		contenteditable="true" 
		onerror="this.parentElement.parentElement.style.display='none';"/>
	</a>
</div>