<form data-ng-submit="vm.ok()">
	<div class="modal-header" style="height: 50px;padding: 10px;">
		<!-- <div class="col-xs-1" data-uib-tooltip ="Back" data-tooltip-append-to-body='true' style="padding: 0px;text-align: center;font-size: 18px;color: #999;">
			<button type="button" class="btn btn-sm fa fa-arrow-left" data-ng-disabled='!vm.currntFolder.parentFolderId' data-ng-click="vm.openParent($event)"></button>
		</div> -->
		<div class="col-xs-11" style="padding:0px;">
			<ul class="nav navbar-nav ellipsis" style="font-size: 20px; color: rgba(51, 51, 51, 0.74);float: left;line-height: 30px;width:100%;max-width:100%;height:35px;margin: 0px;">
			 					 		
			 		<li data-ng-if="fldr.root" 
			 			data-ng-repeat="fldr in vm.fldrHierarchy " 
			 			data-tooltip-append-to-body='true' 
			 			data-uib-tooltip="Home" 
			 			data-tooltip-placement="bottom"
			 			class="vdvc-breadcrumbs  ellipsis full">
			 		  	<span data-ng-click="vm.openFolder(fldr)" data-ng-class="{'fldr-slct':vm.selectedFolder.id == fldr.id}">
					         <i class="fa fa-home"></i>
				       	</span>
			 		</li>
			 		
			 		<li data-ng-if="!fldr.root && !$last"  
			 			data-ng-repeat="fldr in vm.fldrHierarchy " 
			 			data-tooltip-append-to-body='true' 
			 			data-uib-tooltip="{{fldr.name}}" 
			 			data-tooltip-placement="bottom"
			 			class="vdvc-breadcrumbs  ellipsis full">
			 		  	<span data-ng-click="vm.openFolder(fldr)" data-ng-class="{'fldr-slct':vm.selectedFolder.id == fldr.id}">
				         	<i class="fa fa-folder-open-o" data-ng-show="!fldr.isDummy"></i> {{::fldr.name}}
				       	</span>
			 		</li>
			 		
			 		<li data-nv-set-rm-mxwidth="vm.fldrHierarchy" 
			 			data-ng-if="!fldr.root && $last"  
			 			data-ng-repeat="fldr in vm.fldrHierarchy"
			 			data-tooltip-append-to-body='true' 
			 			data-uib-tooltip="{{::fldr.name}}"
			 			data-tooltip-placement="bottom" 
			 			class="vdvc-breadcrumbs  ellipsis full">
			 		  	<span data-ng-click="vm.openFolder(fldr)" data-ng-class="{'fldr-slct':vm.selectedFolder.id == fldr.id}">
				         	<i class="fa fa-folder-open-o"></i> {{::fldr.name}}
				       	</span> 
			 		</li>
				</ul>
		</div>
		<div class="col-xs-1" style="padding: 7px 0px;">
			<i class="fa fa-close" data-ng-click="vm.cancel()" style="float: right;color: #006699;"></i>
		</div>
	</div>
	<div class="modal-body" style="height: 300px;overflow: auto;background: #eee;">
		<div class="col-sm-6 col-xs-12" data-ng-repeat="folder in vm.foldersList"  data-ng-click=" !vm.isValidTarget(folder) || vm.onSelectFolder(folder)" style="padding: 5px;">
			<div class="col-xs-12 fldr-bar" data-ng-class="{'fldr-slct': vm.selectedFolder.id == folder.id,'fldr-disabled': !vm.isValidTarget(folder)}" >
				<div class="col-xs-2" style="padding: 0px">
					<span class="fa fa-folder-o" style="position: absolute;top: 6px;font-size: 30px;color: #aaa;"></span>
					<span class="fa fa-user" data-ng-show="!folder.isOwner" style="position: absolute;left: 15px;top: 15px;font-size: 11px;color: #aaa;"></span>
				</div>
				<div class="col-xs-8 ellipsis" data-uib-tooltip="{{::folder.name}}" data-tooltip-append-to-body='true'>{{::folder.name}}</div>
				<div class="col-xs-2" style="padding: 0px" data-ng-if="vm.isValidTarget(folder)">
					<span class="btn btn-sm fa fa-chevron-right" data-ng-click="vm.openFolder(folder)"></span>
				</div>
			</div>
		</div>
		
		<div class="col-sm-6 col-xs-12" data-ng-repeat="doc in vm.docsList" style="padding: 5px;">
			<div class="col-xs-12" style="background: #ddd;height: 40px;line-height: 40px;cursor: not-allowed;">
				<div class="col-xs-2" style="padding: 0px">
					<span class="fa" data-ng-class="vm.getFileIcon(doc.name)" style="position: absolute;top: 6px;font-size: 30px;color: #aaa;"></span>
					<span class="fa fa-user" data-ng-show="!doc.perms.owner" style="position: absolute;left: 15px;top: 15px;font-size: 11px;color: #aaa;"></span>
				</div>
				<div class="col-xs-10 ellipsis">{{::doc.displayName}}</div>
			</div>
		</div>
		
	</div>
	<div class="modal-footer" style="padding: 15px;">
		<div class="col-xs-12">
			<button type="button" class="btn vdvc-form-btn" data-ng-click="vm.OpenFolderModal()" style="float: left;">
				  <span class="fa fa-plus" style="margin-right:5px;"></span>FOLDER
			</button>
		
			<button class="btn vdvc-form-btn" type="submit" data-ng-disabled='vm.enableMoveHere()' style="float: right;">{{::vm.submitLable}}</button>
		</div>
	</div>
</form>