<div class="col-xs-12 full" data-ng-attr-data-id="{{TextViewer.oneDriveDoc.id}}">
	<div class="col-xs-12 vdvc-ldr-spin-wrap" data-ng-show="TextViewer.loader" data-ng-class="{'full':TextViewer.loader}">
   		<div class="vdvc-loader-spin vdvc-v-align"></div>
   	</div>
	<iframe data-on-frame-loaded="TextViewer.onLoad()" 
			data-styles-src="/app/components/DocViewer/TextViewer/styles.css"
		    width="100%" 
		    data-ng-src="{{trustSrc(TextViewer.docUrl)}}" 
		    style="max-width: 100%;border: none;min-height: 100%;height: 100%;overflow: auto;background: #fff;"></iframe>
</div>